.root {
  position: relative;
  border-bottom: 1px solid var(--color-outline);
}

.item {
  appearance: none;
  background: none;
  border: 0;
  position: relative;
  display: inline-block;
  padding: var(--space-xsmall) var(--space-small);
  color: var(--color-text-ultra-light);
  font-weight: bold;
  text-decoration: none;
  transition: var(--ui-transition-out);
}

.item::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 2px;
  background: transparent;
}

.item:hover,
.item:active,
.item:focus {
  color: var(--color-primary);
  outline: none;
  transition: var(--ui-transition-out);
}

.item:hover::after,
.item:active::after,
.item:focus::after {
  background: currentColor;
}

.itemActive {
  color: var(--color-primary);
}

.itemActive::after {
  background: currentColor;
}
