.header {
  padding: 0 0 var(--space-small);
}

.headerTitle {
  margin: 0;
  font-size: 1em;
  overflow-wrap: break-word;
}

.headerTitleName {
  display: block;
  font-size: var(--size-large);
}

.headerTitleId {
  display: block;
  color: var(--color-text-light);
  font-size: var(--size-small);
  line-height: var(--space-small);
}

.tableHeader {
  padding: var(--space-xxsmall) var(--space-small);
  border-bottom: 1px solid var(--color-outline);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tableDropdown {
  flex: 0 0 auto;
  margin-right: calc(0px - var(--space-xxsmall));
  margin-left: var(--space-small);
}

.tableHeaderRun {
  margin-top: calc(0px - var(--space-xxsmall));
  margin-bottom: calc(0px - var(--space-xxsmall));
}

.tableHeaderRunMetric {
  margin-top: var(--space-xxxsmall);
}

.nameTooltip {
  text-align: left;
}

.nameTooltipTitle {
  margin: 0;
}

.nameTooltipText {
  display: block;
  width: 100%;
  max-width: 320px;
  min-width: 280px;
}

.nameTooltipItem + .nameTooltipItem {
  margin-top: var(--space-small);
}
