.header {
  padding: var(--space-small);
  border-bottom: 1px solid var(--color-gray-ultra-light);
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  margin: 0;
}

.nameTooltip {
  text-align: left;
}

.nameTooltipTitle {
  margin: 0;
  color: var(--color-gray-ultra-dark);
}

.nameTooltipText {
  display: block;
  width: 100%;
  max-width: 320px;
  min-width: 280px;
}

.nameTooltipItem + .nameTooltipItem {
  margin-top: var(--space-small);
}
