.root {
  padding-top: var(--header-height);
  background: var(--color-gray-light-background);
}

.main {
  padding: var(--space-small) 0;
}

.empty {
  text-align: center;
}

.footer {
  background: var(--color-light);
  box-shadow: 0 0 12px var(--color-gray-ultra-light);
}
