.chart {
  height: var(--chart-height);
}

.legendItem {
  list-style: none;
}

.legendIcon {
  margin-right: var(--space-xxsmall);
  display: inline-block;
  width: var(--space-xxsmall);
  height: var(--space-xxsmall);
}

.legendLabelEmpty {
  color: var(--color-gray-light);
}
