.root {
  padding-top: 0;
  padding-bottom: 0;
}

/* Components */
.logo {
  margin: 0;
  width: 156px;
  color: inherit;
  font-size: var(--size-xlarge);
  white-space: nowrap;
  font-weight: bold;
}

.logo:hover,
.logo:active,
.logo:focus {
  color: inherit;
  opacity: 0.7;
}

.tabs {
  border-bottom: 0;
}

.tabItem {
  color: inherit;
}

.tabItem:hover,
.tabItem:focus,
.tabItem:active {
  color: inherit;
  opacity: 0.7;
}

.githubLogo {
  margin: 0 0 0 auto;
  width: var(--space-medium);
  color: inherit;
}

.githubLogo:active,
.githubLogo:hover {
  color: inherit;
  opacity: 0.7;
}
