.root {
  white-space: nowrap;
  letter-spacing: 0.05em;
  color: var(--color-gray-ultra-light);
}

.HIGH_NEGATIVE {
  color: var(--color-red-dark);
}

.NEGATIVE {
  color: var(--color-red-dark);
}

.LOW_NEGATIVE {
  color: var(--color-red-light);
}

.LOW_POSITIVE {
  color: var(--color-green-light);
}

.POSITIVE {
  color: var(--color-green-dark);
}

.HIGH_POSITIVE {
  color: var(--color-green-dark);
}
