.root {
  color: var(--color-gray-ultra-muted);
  font-family: var(--font-family-fixed);
  white-space: nowrap;
}

.CHANGE {
  color: var(--color-info);
}

.HIGH_NEGATIVE {
  color: var(--color-red-intense);
}

.NEGATIVE {
  color: var(--color-red-intense);
}

.LOW_NEGATIVE {
  color: var(--color-red-muted);
}

.LOW_POSITIVE {
  color: var(--color-green-muted);
}

.POSITIVE {
  color: var(--color-green-intense);
}

.HIGH_POSITIVE {
  color: var(--color-green-intense);
}

.inverted {
  padding: 0 2px;
  border-radius: var(--radius-xsmall);
  background-color: var(--color-gray-ultra-muted);
  color: var(--color-background);
}

.inverted.CHANGE {
  background: var(--color-info-muted);
}

.inverted.HIGH_NEGATIVE {
  background: var(--color-red-intense);
}

.inverted.NEGATIVE {
  background: var(--color-red-intense);
}

.inverted.LOW_NEGATIVE {
  background: var(--color-red-muted);
}

.inverted.LOW_POSITIVE {
  background: var(--color-green-muted);
}

.inverted.POSITIVE {
  background: var(--color-green-intense);
}

.inverted.HIGH_POSITIVE {
  background: var(--color-green-intense);
}
