.root {
  display: block;
  text-align: right;
}

.negative {
  color: var(--color-red-dark);
}

.slightlyNegative {
  color: var(--color-red-light);
}

.slightlyPositive {
  color: var(--color-green-light);
}

.positive {
  color: var(--color-green-dark);
}

