.root {
  background: var(--color-highlight);
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.item {
  flex: 0 1 auto;
  background: var(--color-text);
  display: inline-flex;
  min-width: var(--space-xxxsmall);
  min-height: var(--space-medium);
}

.itemContent {
  display: flex;
  width: 100%;
  height: 100%;
  padding: var(--space-xxsmall);
  align-items: center;
  justify-content: center;

  color: var(--color-background);
  font-weight: bold;
  text-overflow: ellipsis;
  text-align: center;
}

.itemLabel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.textOverflowed .itemLabel {
  visibility: hidden;
}
