.root td {
  vertical-align: top;
}

.tableHeaderRun {
  margin-top: calc(0px - var(--space-xxsmall));
  margin-bottom: calc(0px - var(--space-xxsmall));
}

.tableHeaderRunMetric {
  margin-top: var(--space-xxxsmall);
}

/* columns */
.metricName {
  width: 100%;
}

.value {
  text-align: right;
}

.current {
  border-left-color: transparent;
}

.delta {
  padding-left: var(--space-xsmall);
  text-align: right;
}

.multipleRuns .unchanged td {
  color: var(--color-text-light);
}

.multipleRuns .unchanged td a {
  color: var(--color-primary-light);
}

/** Breakpoints */
.root tr {
  display: flex;
  flex-wrap: wrap;
}

.root tbody th {
  flex: 1 1 auto;
}

.root tbody th {
  flex: 1 1 100%;
}

.root tbody td {
  flex: 1 1 auto;
}

@media (min-width: 600px) {
  .root tr {
    display: table-row;
  }
}
