.root a {
  color: inherit;
  text-decoration: none;
}

.root a:hover,
.root a:active,
.root a:focus {
  color: var(--color-primary);
  text-decoration: underline;
}

/* columns */
.metricName {
  width: 100%;
}

.tableHeaderRunMetric {
  text-transform: none;
}

.root .job {
  padding-right: calc(var(--space-xxxsmall) + var(--space-small));
  text-align: right;
}

.root .value {
  padding-left: var(--space-large);
  text-align: right;
  vertical-align: baseline;
}

.root .delta {
  text-align: right;
  font-size: var(--size-xsmall);
  vertical-align: baseline;
}

.root tbody .delta {
  line-height: 1.6rem; /* baseline alignment with the column value */
}

.jobName {
  white-space: nowrap;
}

.sort {
  --icon-dimension: 15px;
  display: inline-block;
  margin: calc(0px - var(--space-xxxsmall));
  margin-right: calc(0px - 1px - var(--icon-dimension));
  border-radius: var(--radius-small);
  position: relative;
}

.sortButton {
  appearance: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  transition: var(--transition-out);
}

.sortButtonToggle {
  padding: var(--space-xxxsmall);
  padding-right: calc(1px + var(--icon-dimension));
}

.sortButtonDirection {
  position: absolute;
  padding: 2px;
  display: block;
  overflow: hidden;
  right: -2px; /* compensate for the button padding */
  color: var(--color-text-ultra-light);
  transition: var(--transition-out);
}

.sortButtonDirectionIcon {
  display: block;
  width: var(--icon-dimension);
  height: var(--icon-dimension);
}

.sortButtonDirectionActive {
  color: var(--color-text);
  transition: var(--transition-in);
}

.sortButtonDirection:hover,
.sortButtonDirection:active,
.sortButtonDirection:focus {
  color: var(--color-text-dark);
  transition: var(--transition-in);
}
.sortButtonDirectionAsc {
  padding-bottom: 0;
  bottom: 50%;
}

.sortButtonDirectionAsc .sortButtonDirectionIcon {
  transform: translateY(3px);
}

.sortButtonDirectionDesc {
  padding-top: 0;
  top: 50%;
}

.sortButtonDirectionDesc .sortButtonDirectionIcon {
  transform: translateY(-5px);
}

.sort:hover,
.sort:active,
.sort:focus {
  background: var(--color-outline);
}

.sortButtonDirection {
  pointer-events: none;
  opacity: 0;
}

.sortActive .sortButtonDirection,
.sort:hover .sortButtonDirection,
.sort:active .sortButtonDirection,
.sort:focus .sortButtonDirection {
  pointer-events: auto;
  opacity: 1;
  transition: var(--transition-in);
}

/* columns overrides for showHeaderSum */
.showHeaderSum .headerRow .job {
  border-bottom: 0;
  padding-bottom: 0;
}

.showHeaderSum .headerRow .sum {
  padding-top: var(--space-xxxsmall);
  font-size: var(--size-small);
  vertical-align: middle;
}

/** rows */
.multipleRuns .unchanged th,
.multipleRuns .unchanged td {
  color: var(--color-text-light);
}

.root .empty {
  background: none !important;
  padding-top: calc(var(--space-xxxlarge) * 2);
  padding-bottom: calc(var(--space-xxxlarge) * 2);
  text-align: center;
}

.emptyIcon {
  color: var(--color-outline-dark);
  width: var(--space-large);
  height: var(--space-large);
}

.root .showAllItems {
  background: none !important;
  text-align: center;
}

/** show all */
.showAllItemsButton {
  appearance: none;
  background: none;
  margin: 0;
  border: 0;
  padding: var(--space-xxxsmall);
  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;
}

.showAllItemsButton:hover,
.showAllItemsButton:focus,
.showAllItemsButton:active {
  color: var(--color-primary-dark);
}

/** Breakpoints */
.root tr {
  display: flex;
  flex-wrap: wrap;
}

.root tbody th {
  flex: 1 1 auto;
}

.root tbody th {
  flex: 1 1 100%;
}

.root tbody td {
  flex: 1 1 auto;
}

@media (min-width: 600px) {
  .root tr {
    display: table-row;
  }
}
