.root {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  min-height: var(--space-small);
}

.icon {
  margin-right: var(--space-xxxsmall);
  display: inline-block;
  width: var(--space-small);
  height: auto;
  max-height: var(--space-small);
  vertical-align: middle;
}

.text {
  line-height: 1.3;
  vertical-align: middle;
}
