{
  "presets": [
    ["env", { "modules": false }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "preact-require",
    ["transform-react-jsx", {"pragma": "h"}]
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "react"
      ]
    }
  }
}
