.chunksTitle {
  margin-right: var(--space-xxxsmall);
}

.chunksItems {
  display: inline;
}

.chunksItem {
  overflow-wrap: break-word;
}

.chunksItem + .chunksItem {
  margin-left: var(--space-xxxsmall);
}

.fileName {
  max-width: 100%;
  padding: 2px;
  background: var(--color-highlight-warning);
}
