.chunksTitle {
  margin-right: var(--space-xxxsmall);
}

.chunksItems {
  display: inline;
}

.chunksItem {
  overflow-wrap: break-word;
  background: var(--color-highlight);
  color: var(--color-text-light);
  text-decoration: none;
  text-transform: none;
  font-weight: normal;
  font-size: 1em;
}

.chunksItem + .chunksItem {
  margin-left: var(--space-xxxsmall);
}

.chunksItem:hover,
.chunksItem:focus,
.chunksItem:active {
  background: var(--color-outline);
  color: var(--color-text);
}
