.item {
  padding: var(--space-xxxsmall) var(--space-small);
  display: flex;
}

.itemIcon {
  display: none;
}

.itemLabel {
  flex: 1 1 100%;
}

.itemAsc .itemIcon {
  transform: rotate(180deg);
}

.item:hover,
.item:active,
.item:focus {
  color: var(--color-primary);
}

.item.active {
  color: var(--color-primary-dark);
}

.item.active .itemIcon {
  display: block;
}
