.items {
  margin: calc(0px - var(--space-xsmall)) calc(0px - var(--space-small));
}

.itemButton {
  padding: var(--space-xsmall) var(--space-small);
  display: flex;
  width: 100%;

  outline: 0;
  appearance: none;
  border: 0;
  background: none;
  color: inherit;
  font-size: var(--size-small);
  line-height: var(--space-small);
  cursor: pointer;
  text-align: left;
}

.itemIcon {
  display: none;
}

.itemLabel {
  flex: 1 1 100%;
}

.itemAsc .itemIcon {
  transform: rotate(180deg);
}

.item:hover {
  background: var(--color-highlight);
  color: var(--color-text-dark);
}

.item.active {
  background: var(--color-highlight);
  color: var(--color-primary);
}

.item.active .itemIcon {
  display: block;
}
