.item {
  display: flex;
  align-items: center;
}

.itemIcon {
  display: none;
}

.itemLabel {
  flex: 1 1 100%;
}

.itemAsc .itemIcon {
  transform: rotate(180deg);
}

.item.active .itemIcon {
  display: block;
}
