.title {
  color: var(--color-text-light);
}

.toolbar {
  border-bottom: 1px solid var(--color-outline);
}

.toolbarSearch {
  width: 100%;
  max-width: 240px;
  margin-right: -1px; /** collapse border */
}

.namePopover {
  min-width: 280px;
}
