.title {
  color: var(--color-text-light);
}

.toolbarSearch {
  width: 100%;
  max-width: 240px;
}

.metricSelector {
  border-bottom: 1px solid var(--color-outline);
}

.nameTagDuplicated {
  margin-right: var(--space-xxxsmall);
  vertical-align: baseline;
}

.nameTagDuplicated::before {
  content: 'D';
}

.nameText {
  display: inline-block;
  vertical-align: middle;
}
