.dropdownGroup {
  border: 1px solid var(--color-outline);
}

.dropdownGroupButton {
  padding: calc(var(--space-xxsmall) - 1px);
}

.dropdownGroupAnchor {
  border: none;
  border-left: 1px solid var(--color-outline);
  border-radius: 0;
}

.dropdownGroupAnchor:hover,
.dropdownGroupAnchor:focus,
.dropdownGroupAnchor:active {
  border-color: var(--color-outline);
  box-shadow: none;
  background: none;
}

.dropdownGroup:hover {
  border-color: var(--color-outline-dark);
}

.itemActive {
  background: var(--color-highlight);
}

/* explicit ControlGroup last item styles to override ariakit injected sibling nodes */
.itemLast {
  border-top-right-radius: var(--radius-small) !important;
  border-bottom-right-radius: var(--radius-small) !important;
}

.dropdownItemIcon {
  opacity: 0;
  transition: var(--transition-out);
}

.dropdownItemActive .dropdownItemIcon {
  opacity: 1;
}
