.title {
  color: var(--color-text-light);
}

.toolbar {
  border-bottom: 1px solid var(--color-outline);
}

.toolbarSearch {
  width: 100%;
  max-width: 240px;
  margin-right: -1px; /** collapse border */
}

.duplicate {
  margin-right: var(--space-xxxsmall);
  display: inline-block;
  width: var(--space-small);
  height: var(--space-small);
  font-size: 10px;
  font-weight: bold;
  line-height: var(--space-small);
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  background: var(--color-danger);
  color: var(--color-light);
}

.packageName {
  color: var(--color-text-light);
}

.packageName:last-child {
  color: inherit;
}

.packageName + .packageName::before {
  display: inline-block;
  margin: 0 var(--space-xxxsmall);
  content: '/';
  color: var(--color-text-ultra-light);
}

.packagePopover {
  min-width: 240px;
}

.packagePopoverTitle {
  margin-bottom: var(--space-xxxsmall);
}

.packagePopoverList {
  padding: 0;
  list-style: inside;
}
