.header {
  padding: var(--space-small);
  border-bottom: 1px solid var(--color-outline);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title {
  margin-bottom: 0;
  margin-right: var(--space-xsmall);
  flex: 0 0 auto;
  font-size: var(--size-xlarge);
  line-height: var(--space-medium);
}

.dropdown {
  flex: 0 0 auto;
  margin-top: calc(0px - var(--space-xxsmall));
  margin-right: calc(0px - var(--space-xxsmall));
  margin-bottom: calc(0px - var(--space-xxsmall));
  margin-left: var(--space-small);
}

.tableHeaderRun {
  margin-top: calc(0px - var(--space-xxsmall));
  margin-bottom: calc(0px - var(--space-xxsmall));
}

.tableHeaderRunMetric {
  margin-top: var(--space-xxxsmall);
}

/* Tooltip filename */
.tooltipFilename {
  text-align: left;
  min-width: 320px;
}

.tooltipFilenameItem + .tooltipFilenameItem {
  margin-top: var(--space-xsmall);
}

.tooltipFilenameTitle {
  margin: 0;
}
