.item {
  position: relative;
}

.itemTitle {
  position: absolute;
  right: 0;
  bottom: 100%;
  margin: 0 0 var(--space-xxxsmall);

  color: var(--color-text-light);
  font-size: var(--size-xsmall);
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
}

.item:hover .itemTitle {
  color: var(--color-text);
}

.itemChart {
  height: var(--space-large);
}

.itemTooltip {
  min-width: 240px;
  text-align: left;
  padding: 0;
}

.itemLink {
  color: inherit;
  text-decoration: none;
}

.itemLink:hover {
  color: inherit;
  text-decoration: underline;
}
