.root {
  position: relative;
  color: inherit;
  line-height: inherit;
}

.root:focus,
.root:active,
.root:hover {
  outline: none;
}

.tooltip {
  padding: var(--space-xxxsmall) var(--space-xxsmall);
  border-radius: var(--radius-small);
  background: var(--color-light);
  color: var(--color-text);
  filter: drop-shadow(0 0 var(--space-xxxsmall) var(--color-shadow));
  font-size: var(--size-xsmall);
  line-height: var(--space-small);
}

.arrow svg {
  display: block;
  fill: var(--color-light);
}

.tooltipDarkMode {
  background: var(--color-text);
  color: var(--color-light);
}

.tooltipDarkMode .arrow svg {
  fill: var(--color-text);
}
