.root {
  position: relative;
  color: inherit;
  line-height: inherit;
}

.root:focus,
.root:active,
.root:hover {
  outline: none;
}

.tooltip {
  padding: var(--space-xxsmall);
  background: var(--color-background);
  filter: drop-shadow(0 0 var(--space-xxxsmall) var(--color-shadow));
  font-size: var(--size-small);
}

.arrow svg {
  display: block;
  fill: var(--color-background);
}
