.root {
	position: relative;
}

.tooltip {
	position: absolute;
	left: 50%;
	bottom: 100%;
	transform: translateX(-50%) translateY(calc(0px - var(--space-xsmall)));

	margin-top: 0;
	padding: var(--space-xsmall);
	min-width: 120px;
  box-shadow: 0 0 var(--space-xxsmall) rgba(0, 0, 0, 0.2);

	background: var(--color-light);
  color: var(--color-gray);
	font-size: var(--size-small);
	text-align: center;
  white-space: nowrap;
}

.tooltipArrow {
	position: absolute;
	left: 0;
  right: 0;
	top: 100%;
  width: 100%;
  height: var(--space-small);
  overflow: hidden;
}

.tooltipArrow::before {
	content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: var(--space-xsmall);
  height: var(--space-xsmall);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);

  background: var(--color-light);
  box-shadow: 0 0 var(--space-xxsmall) rgba(0, 0, 0, 0.2);
}

/* Hover */
.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s;
}

.root:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Align modifier */
.topLeft .tooltip {
  left: 0;
  transform: translateX(calc(0px - var(--space-xsmall))) translateY(calc(0px - var(--space-xsmall)));
}

.topLeft .tooltipArrow::before {
  left: var(--space-medium);
}
