.button {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  color: inherit;
  cursor: pointer;
  line-height: inherit;
  text-align: inherit;
}

.button:hover,
.button:active,
.button:focus {
  color: var(--color-primary);
}

.button:hover .label {
  text-decoration: underline;
}

.popover {
  padding: var(--space-xsmall) var(--space-medium) var(--space-xsmall) var(--space-small);
  max-width: 320px;
  outline: none;
  box-shadow: 0 0 var(--space-xxsmall) var(--color-shadow);
  background: var(--color-light);
  font-size: var(--size-small);
}

.arrow svg {
  display: block;
}

.arrow :global .fill {
  fill: var(--color-light);
}

.arrow :global .stroke {
  fill: var(--color-light);
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  width: var(--space-large);
  height: var(--space-large);
  padding: var(--space-xxsmall);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text-light);
  transition: var(--transition-out);
}

.closeBtn:hover,
.closeBtn:active,
.closeBtn:focus {
  color: var(--color-text);
  transition: var(--transition-in);
}
