.root {
  border-width: 1px 1px 3px 1px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.job {
  padding: var(--space-small);
  flex: 1 1 320px;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 1px var(--color-gray-ultra-light), 1px 0 var(--color-gray-ultra-light);
}

.jobDescription {
  flex: 1 1 100%;
}

.jobTitle {
  margin: 0;
  font-weight: bold;
  line-height: var(--space-large);
}

.jobCommitMessage {
  margin: 0;
}

.jobMetaItem {
  display: inline-flex;
  margin-right: var(--space-xxsmall);
  align-items: center;
  color: var(--color-gray);
  line-height: var(--space-small);
}

.jobMetaIcon {
  width: var(--space-small);
  margin-right: var(--space-xxxsmall);
}

.jobSummaryItem {
  flex: 0 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: var(--space-small);
  margin-left:  var(--space-small);
  border-left: 1px solid var(--color-gray-ultra-light);
  text-align: right;
}

/** Loading state */
.loading .jobTitle {
  height: var(--size-large);
  width: 3em;
  background: var(--color-gray-light-background);
}
