.root {
  border-width: 1px 1px 3px 1px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 320px;
}

/** Loading state */
.loading .jobTitle {
  height: var(--size-large);
  width: 3em;
  background: var(--color-highlight);
}
