.root {
  border-width: 1px 1px 3px 1px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.job {
  position: relative;
  padding: var(--space-small);
  flex: 1 1 320px;
  display: flex;
  align-items: flex-start;
  box-shadow: 0 1px var(--color-gray-ultra-light), 1px 0 var(--color-gray-ultra-light);
}

.jobTitle {
  margin: 0;
  font-size: var(--size-xxxlarge);
  line-height: var(--space-medium);
  font-weight: bold;
  vertical-align: top;
}

.jobTag {
  display: inline-block;
  margin-top: 5px;
  margin-left: var(--space-xxxsmall);
  font-size: 8px;
  line-height: var(--space-xxsmall);
  color: var(--color-gray);
  font-weight: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  vertical-align: top;
}

.jobMeta {
  margin-top: var(--space-xxsmall);
  font-size: var(--size-small);
  line-height: var(--space-xsmall);
  color: var(--color-gray-light);
}

.jobDescription {
  flex: 1 1 100%;
}

.jobCommitMessage {
  margin: 0;
}

.jobMetaItem {
  display: inline-flex;
  margin-right: var(--space-xxsmall);
  align-items: center;
}

.jobMetaIcon {
  width: var(--space-small);
  margin-right: var(--space-xxxsmall);
}

.jobSummaryItem {
  flex: 0 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-left:  var(--space-small);
  text-align: right;
}

/** Loading state */
.loading .jobTitle {
  height: var(--size-large);
  width: 3em;
  background: var(--color-gray-light-background);
}
