.root {
  background: linear-gradient(transparent 12.5%, currentColor 12.6%, currentColor 86.4%, transparent 86.5%);
  opacity: 0.06;
  pointer-events: none;
  min-width: 6em;
}

/** empty char to keep the text height */
.root::before {
  display: inline-block;
  content: '\A0';
  color: transparent;
}

.block {
  background: currentColor;
}
