.root {
  display: inline-block;
}

.anchor {
  display: inline-block;
  color: inherit;
  cursor: default;
  text-decoration: none;
  transition: var(--transition-out);
}

.anchor:focus,
.anchor:active,
.anchor:hover {
  color: var(--color-accent-dark);
  outline: 0;
  transition: var(--transition-in);
}

.hoverCard {
  z-index: var(--layer-high);
  padding: var(--space-small);
  border-radius: var(--radius-medium);
  width: calc(100vw - 2 * var(--space-small));
  max-width: 340px;
  outline: none;
  filter: drop-shadow(var(--shadow-layer-high));
  will-change: filter;
  background: var(--color-light);
  font-size: var(--size-small);
  opacity: 0;
  transition: var(--transition-out);
}

.hoverCard[data-enter] {
  opacity: 1;
  transition: var(--transition-in);
}

.hoverCard[data-leave] {
  pointer-events: none;
}
