.inner {
  align-items: center;
}

.jobs {
  flex: 1 1 auto;
  overflow-x: auto;
}

.options {
  flex: 0 0 var(--space-large);
}

.option {
  display: inline-block;
}

.github {
  display: block;
  color: var(--color-text-ultra-light);
  width: var(--space-medium);
  height: var(--space-medium);
}
