.inner {
  align-items: center;
}

.branding {
  margin-right: var(--space-small);
  padding: var(--space-small);
  flex: 0 0 auto;
  color: var(--color-text);
  display: flex;
  align-items: center;
}

.jobs {
  flex: 1 1 auto;
}
