.root {
  width: calc(var(--space-small) + 6px);
  height: calc(var(--space-small) + 6px);
  padding: 3px;
  border-radius: 50%;
  background: var(--color-highlight);
}

.error {
  background: var(--color-highlight-danger);
  color: var(--color-danger);
}

.warning {
  padding-top: 1px;
  background: var(--color-highlight-warning);
  color: var(--color-warning);
}

.info {
  background: var(--color-highlight-info);
  color: var(--color-info);
}

