.group:empty {
  display: none;
}

.group {
  margin-bottom: calc(var(--space-xxxsmall) / 2);
  border-bottom: 1px solid var(--color-outline);
  padding-bottom: calc(var(--space-xxxsmall) / 2);
}

.group:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
