:root {
  --header-height: 0px;
}

.footer {
  border-top: 1px solid var(--color-outline);
}

.empty {
  padding-top: var(--space-large);
  min-height: 80vh;
  text-align: center;
}

.summaryContainer {
  padding-bottom: var(--space-xsmall);
}

.tabsContainer {
  background: var(--color-light);
}

.tabActive {
  color: var(--color-primary);
}

.tabActive::after {
  background: currentColor;
}

.tabsContent {
  padding-top: var(--space-medium);
  padding-bottom: var(--space-medium);
  min-height: 480px;
  background: var(--color-highlight);
}

@media (min-width: 600px) {
  :root {
    --header-height: calc(45px + 2 * var(--space-medium));
  }

  .header {
    border-bottom: 1px solid transparent;
    padding: var(--space-medium) 0;
    position: sticky;
    z-index: var(--layer-high);
    top: 0;
    height: var(--header-height);
    background-color: var(--color-background);
  }

  .tabsContainer {
    position: sticky;
    top: var(--header-height);
    z-index: 100;
  }
}
