:root {
  --header-height: 0px;
}

.root {
  padding-top: var(--header-height);
}

.empty {
  padding-top: var(--space-large);
  min-height: 80vh;
  text-align: center;
}

.header {
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-outline);
}

.summaryContainer {
  padding-top: var(--space-small);
  padding-bottom: var(--space-xxsmall);
}

.tabsContainer {
  border-bottom: 1px solid var(--color-outline);
  background: var(--color-light);
}

.tabs {
  border-bottom: 0;
}

.tabActive {
  color: var(--color-primary);
}

.tabActive::after {
  background: currentColor;
}

.tabsContent {
  padding-top: var(--space-medium);
  padding-bottom: var(--space-medium);
  min-height: 480px;
}

@media (min-width: 600px) {
  :root {
    --header-height: 52px;
  }

  .header {
    position: fixed;
    z-index: calc(var(--layer-xhigh) + 2);
    left: 0;
    top: 0;
    right: 0;
    height: var(--header-height);
  }

  .tabsContainer {
    position: sticky;
    top: var(--header-height);
    z-index: calc(var(--layer-xhigh) + 1);
  }
}
