.root {
  width: 100%;
  position: relative;
}


.input {
  border-color: var(--color-outline);
}

.input:focus {
  border-color: var(--color-gray-light);
}

.cancelButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: var(--space-xxsmall);
  width: var(--space-large);
  height: var(--space-large);
}

.cancelButtonIcon {
  display: block;
  width: var(--space-small);
  height: var(--space-small);
}
