.root {
  width: 100%;
  position: relative;
  z-index: var(--layout-low); /** show collapsed border on focus */
}

.input {
  border-color: var(--color-outline);
}

.input:focus {
  border-color: var(--color-outline-dark);
}

.cancelButton {
  appearance: none;
  padding: 0;
  border: 0;
  background: none;
  color: var(--color-text-light);
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: var(--space-xxsmall);
  width: var(--space-large);
  height: var(--space-large);
}

.cancelButton:focus,
.cancelButton:hover,
.cancelButton:active {
  color: var(--color-text);
}

.cancelButtonIcon {
  display: block;
  width: var(--space-small);
  height: var(--space-small);
}
