.root {
  padding: var(--space-small);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: var(--color-dark);
  color: var(--color-light);
}

/* Layout */
.left {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.center {
  flex: 1 1 100%;
  text-align: center;
  order: 3;
}

.right {
  flex: 1 1 auto;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .root {
    flex-wrap: nowrap;
  }

  .left {
    flex: 1 1 25%;
  }

  .center {
    flex: 1 1 50%;
    order: 2;
  }

  .right {
    flex: 1 1 25%;
    order: 3;
  }
}
