.root {}

.title {
  margin-bottom: 0;
  color: var(--color-gray-xlight);
  font-size: var(--size-xsmall);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  white-space: nowrap;
}

.currentMetric {
  display: inline-block;
  color: var(--color-gray-dark);
  font-size: var(--size-large);
}

.delta {
  display: inline-block;
  margin-left: var(--space-xxsmall);
  font-size: var(--size-small);
}

.baselineMetric {
  display: block;
  color: var(--color-gray-light);
  font-size: var(--size-small);
}

/* Loading state */
.loading {
  background: var(--color-gray-xxxlight);
  pointer-events: none;
  max-width: 5em;
  width: 100%;
  height: 1.1em;
}
