/* Checkbox + label + button */
.filter {
  /* Update MenuItem padding */
  padding-top: calc(var(--space-xxxsmall) / 2);
  padding-bottom: calc(var(--space-xxxsmall) / 2);

  position: relative;
  width: 100%;
  max-width: 240px;
}

.filterCheckbox {
}

.filterInput {
  flex: 0 0 auto;
  height: 1em;
}

.filterLabel {
  flex: 1 1 auto;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filterOnlyButton {
  display: none;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  padding: var(--space-xxxsmall);
  font-size: var(--size-xsmall);
  line-height: 1.1;
}

/** cover item text */
.filterOnlyButton::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: var(--space-small);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--color-highlight) 75%);
}

/** filter disabled state */
.filterInput[disabled] + .filterLabel {
  color: var(--color-text-light);
}

.filterInput[disabled] + .filterOnlyButton {
  display: none;
}

/** filter hover state */
.filter {
  color: var(--color-text);
}

.filter:hover {
  color: var(--color-dark);
}

.filter:hover .filterOnlyButton {
  display: block;
}

/** Filter standard variation */
.filterStandalone {
  padding: 0;
  width: auto;
  color: var(--color-text-light);
  z-index: var(--layout-xlow); /* show collapsed border */
  font-size: var(--size-small);
  line-height: var(--space-small);
}

.filterStandalone .filterCheckbox {
  padding: calc(var(--space-xxsmall) - 1px) calc(var(--space-xxsmall) - 1px);
  border: 1px solid var(--color-outline);
}

.filterStandalone:hover .filterCheckbox,
.filterStandalone:active .filterCheckbox,
.filterStandalone:focus .filterCheckbox {
  z-index: var(--layout-xlow); /* show collapsed border */
  box-shadow: var(--outline-hover);
  color: var(--color-text);
}

/** Filter group variation */
.labelSuffixCustom {
  color: var(--color-text);
  text-transform: lowercase;
}

.filterGroupSearchWrapper {
  padding-bottom: var(--space-xxxsmall);
  margin-bottom: var(--space-xxxsmall);
  border-bottom: 1px solid var(--color-outline);
}

.filterGroupSearchNotFound {
  padding: var(--space-xxsmall) 0;
  text-align: center;
  font-size: var(--size-small);
  color: var(--color-text-light);
}

.filterGroupItems {
  max-height: calc(10 * (var(--space-small) + 2 * var(--space-xxxsmall)));
  overflow: auto;
}

.filterGroupActions {
  margin-top: var(--space-xxxsmall);
  padding-top: var(--space-xxxsmall);
  padding-bottom: var(--space-xxxsmall);
  margin-bottom: calc(0px - var(--space-xxxsmall));
  border-top: 1px solid var(--color-outline);
}

.item {
  position: relative;
  flex: 0 0 auto;
}

.itemButton {
  border-radius: var(--radius-small);
}
