.tooltipTitle {
  margin: 0;
  font-size: 1rem;
}

.tooltipMetric {
  font-size: 1rem;
}

.legendItem {
  list-style: none;
  font-size: var(--size-small);
}

.legendIcon {
  margin-right: var(--space-xxsmall);
  display: inline-block;
  width: var(--space-xxsmall);
  height: var(--space-xxsmall);
}

.legendLabelPercentage::after {
  content: ' - ';
}

.legendLabelName {
  font-family: var(--font-family);
}

.legendLabelEmpty {
  color: var(--color-gray-light);
}
