.root {
  align-items: center;
  font-weight: bold;
  line-height: var(--space-small);
  text-transform: uppercase;
  color: var(--color-text-light);
}

.info {
  font-weight: normal;
  text-transform: none;
}

