.root {
}

.title {
  color: var(--color-text-light);
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.anchor {
  display: block;
}

.anchorIcon {
  display: block;
  margin: -2px 0; /* compensate for the vertical space */
}

.info {
  color: var(--color-text-light);
  font-family: var(--font-family-fixed);
  font-size: var(--size-xsmall);
  font-weight: bold;
}
