.root {
  white-space: nowrap;
  /** override tooltip styles */
  color: var(--color-text-ultra-light) !important;
}

/** done state */
.root svg {
  transition: var(--transition-out);
}

.done svg {
  color: var(--color-success);
  transition: var(--transition-in);
}
