.root {
  white-space: nowrap;
  /** override tooltip styles */
  color: var(--color-text-ultra-light);
}

/** done state */
.root svg {
  transition: var(--ui-transition-out);
}

.done svg {
  color: var(--color-success);
  transition: var(--ui-transition-in);
}
