.root {
  color: var(--color-text-light);
}

.text {
  font-weight: bold;
  font-size: var(--size-medium);
  line-height: var(--space-medium);
  text-transform: uppercase;
}

.anchor {
  display: block;
}
