.root {
  width: 100%;
}

.items {
  margin-left: calc(0px - var(--space-small));
  margin-bottom: calc(0px - var(--space-small));
  width: calc(100% + var(--space-small));
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 auto;
  margin: 0 0 var(--space-small) var(--space-small);
}

.item + .item {
  margin-left: var(--space-small);
}
