.root {
}

.items {
  margin-left: calc(0px - var(--space-medium));
  width: calc(100% + var(--space-medium));
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 auto;
  margin: 0 0 var(--space-medium) var(--space-medium);
}

.item + .item {
  margin-left: var(--space-medium);
}
