/* columns */
.root .col {
  padding-top: var(--space-xxsmall);
  padding-bottom: var(--space-xxsmall);
}

.root .colMetric {
  width: 55%;
  vertical-align: middle;
}

.root .colJob {
  padding-top: var(--space-xxsmall);
  text-align: right;
}

.root .colValue {
  text-align: right;
  vertical-align: baseline;
  width: 15%;
}

.root .colDelta {
  text-align: right;
  font-size: var(--size-xsmall);
  vertical-align: baseline;
  width: 10%;
  color: pink;
}

.root .colDeltaPercentage {
  width: 5%;
}

/* columns overrides for showHeaderSum */
.showHeaderSum .colJob {
  border-bottom: 0;
  padding-bottom: var(--space-xxxsmall);
}

.showHeaderSum .colSum {
  padding-top: 0;
  font-size: var(--size-small);
  vertical-align: middle;
  text-transform: none;
}
