.root {
  background: var(--color-background);
}

.outline {
  border: 1px solid var(--color-outline);
  border-radius: var(--radius-medium);
}

.outline > :first-child {
  border-top-left-radius: var(--radius-medium);
  border-top-right-radius: var(--radius-medium);
}

.outline > :last-child {
  border-bottom-left-radius: var(--radius-medium);
  border-bottom-right-radius: var(--radius-medium);
}

.outlineHover {
  transition: var(--transition-out);
}

.outlineHover:focus,
.outlineHover:active,
.outlineHover:hover {
  border-color: var(--color-outline-intense);
  transition: var(--transition-in);
}

.padding-xxxsmall {
  padding: var(--space);
}

.padding-xxsmall {
  padding: var(--space-2x);
}

.padding-xsmall {
  padding: var(--space-3x);
}

.padding-small {
  padding: var(--space-4x);
}

.padding-medium {
  padding: var(--space-6x);
}

.padding-large {
  padding: var(--space-8x);
}

.padding-xlarge {
  padding: var(--space-10x);
}

.padding-xxlarge {
  padding: var(--space-12x);
}

.padding-xxxlarge {
  padding: var(--space-16x);
}

/**
 * Horizontal padding modifier
 */
.horizontal-padding-xxxsmall {
  padding-left: var(--space);
  padding-right: var(--space);
}

.horizontal-padding-xxsmall {
  padding-left: var(--space-2x);
  padding-right: var(--space-2x);
}

.horizontal-padding-xsmall {
  padding-left: var(--space-3x);
  padding-right: var(--space-3x);
}

.horizontal-padding-small {
  padding-left: var(--space-4x);
  padding-right: var(--space-4x);
}

.horizontal-padding-medium {
  padding-left: var(--space-6x);
  padding-right: var(--space-6x);
}

.horizontal-padding-large {
  padding-left: var(--space-8x);
  padding-right: var(--space-8x);
}

.horizontal-padding-xlarge {
  padding-left: var(--space-10x);
  padding-right: var(--space-10x);
}

.horizontal-padding-xxlarge {
  padding-left: var(--space-12x);
  padding-right: var(--space-12x);
}

.horizontal-padding-xxxlarge {
  padding-left: var(--space-16x);
  padding-right: var(--space-16x);
}

/**
 * Vertical padding modifier
 */
.vertical-padding-xxxsmall {
  padding-top: var(--space);
  padding-bottom: var(--space);
}

.vertical-padding-xxsmall {
  padding-top: var(--space-2x);
  padding-bottom: var(--space-2x);
}

.vertical-padding-xsmall {
  padding-top: var(--space-3x);
  padding-bottom: var(--space-3x);
}

.vertical-padding-small {
  padding-top: var(--space-4x);
  padding-bottom: var(--space-4x);
}

.vertical-padding-medium {
  padding-top: var(--space-6x);
  padding-bottom: var(--space-6x);
}

.vertical-padding-large {
  padding-top: var(--space-8x);
  padding-bottom: var(--space-8x);
}

.vertical-padding-xlarge {
  padding-top: var(--space-10x);
  padding-bottom: var(--space-10x);
}

.vertical-padding-xxlarge {
  padding-top: var(--space-12x);
  padding-bottom: var(--space-12x);
}

.vertical-padding-xxxlarge {
  padding-top: var(--space-16x);
  padding-bottom: var(--space-16x);
}
