.root {
  margin: 0 0 var(--space-small);
  text-align: right;
}

.list {
  list-style: none;
}

.item {
  margin: 0 0 0 var(--space-small);
  display: inline-block;
}

.button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  color: var(--color-gray);
  outline: none;
  cursor: pointer;
}

.button:active,
.button:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-gray-dark);
}
