.root {
  padding: var(--space-small);
  font-size: var(--size-small);
}

.title {
  margin-bottom: var(--space-xxsmall);
  min-height: var(--size-small);
  color: var(--color-gray-light);
  font-size: var(--size-xsmall);
  line-height: var(--size-small);
  text-transform: uppercase;
  white-space: nowrap;
}

.currentMetric {
  margin-bottom: var(--space-xxsmall);
  display: inline-block;
  min-height: var(--size-large);
  color: var(--color-dark);
  font-size: var(--size-large);
  line-height: 1;
  font-weight: 700;
}

.delta {
  display: inline-block;
  margin-left: var(--space-xxsmall);
}

.baselineMetric {
  display: block;
  min-height: var(--size-small);
  line-height: var(--size-small);
}

/* Loading state */
.loading {
  background: var(--color-gray-light-background);
  pointer-events: none;
  width: 8em;
}

/* Size large */
.large {
  font-size: var(--size-medium);
}

.large .currentMetric {
  font-size: var(--size-xlarge);
}

.large .delta {
  font-size: var(--size-small);
}
