.title {
  margin: 0;
  color: var(--color-text-light);
  font-weight: bold;
  font-size: var(--size-xsmall);
  line-height: var(--space-small);
  text-transform: uppercase;
  white-space: nowrap;
}

.readMoreBtn {
  /* simulate link */
  padding: 0;
  color: var(--color-primary);
  text-decoration: underline;
  line-height: var(--space-small);
}

.readMoreBtn:hover,
.readMoreBtn:active,
.readMoreBtn:focus {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.currentMetric {
  margin: 0;
  display: block;
  color: var(--color-heading);
  font-size: var(--size-large);
  line-height: var(--space-small);
  min-height: var(--space-small);
  font-weight: bold;
}

.delta {
  margin: var(--space-xxxsmall) 0 0;
  display: block;
  font-size: var(--size-small);
  line-height: var(--space-small);
  min-height: var(--space-xsmall);
}

.showDelta .currentMetric {
  min-height: calc(var(--space-medium) + var(--space-small));
}

/* Loading state */
.loading {
  background: var(--color-highlight);
  pointer-events: none;
  width: 5em;
}

/* Size large */
.large .currentMetric {
  font-size: var(--size-xxxlarge);
  line-height: var(--space-medium);
  min-height: var(--space-medium);
}
