.title {
  margin: 0;
  color: var(--color-text-light);
  font-weight: bold;
  font-size: var(--size-xsmall);
  line-height: var(--space-small);
  text-transform: uppercase;
  white-space: nowrap;
}

.currentMetric {
  margin: 0;
  display: block;
  color: var(--color-heading);
  font-size: var(--size-xlarge);
  line-height: var(--space-medium);
  min-height: var(--space-medium);
  font-weight: bold;
}

.delta {
  margin: 0;
  display: block;
  min-height: var(--space-xsmall);
  font-size: var(--size-small);
  line-height: var(--space-small);
  text-align: inherit;
}

.helpTooltip {
  width: 100vw;
  max-width: 320px;
  white-space: normal;
  text-align: left;
}

.helpTooltipTitle {
  margin: 0 0 var(--space-xxsmall);
  color: var(--color-text);
  font-size: var(--size-medium);
  text-transform: none;
  font-weight: bold;
}

.helpTooltipDescription {
  color: var(--color-text);
  line-height: var(--space-small);
  font-weight: normal;
  text-transform: none;
}

/* Hover */

/* show metric description - underline help */
.showMetricDescription:hover .title {
  text-decoration: underline;
  text-decoration-style: dashed;
}

/* Inline */
.inline .title {
  display: inline-block;
}

.inline .currentMetric {
  margin: 0 0 0 var(--space-xxsmall);
  display: inline-block;
  font-size: var(--size-small);
}

.inline .delta {
  margin: 0 0 0 var(--space-xxxsmall);
  display: inline-block;
  font-size: var(--size-small);
}

/* Loading state */
.loading {
  background: var(--color-highlight);
  pointer-events: none;
  width: 5em;
}

/* Size large */
.large .currentMetric {
  font-size: var(--size-xxxlarge);
  font-weight: bold;
}
