.root {
  position: relative;
  padding-right: var(--space-xlarge);
}

.title {
  color: var(--color-text-ultra-light);
  font-weight: bold;
  font-size: var(--size-xsmall);
  line-height: var(--space-small);
  text-transform: uppercase;
  white-space: nowrap;
}

.titleLabel {
  flex: 0 0 auto;
}

.readMoreBtn {
  appearance: none;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  /* simulate link */
  color: var(--color-primary);
  text-decoration: underline;
  line-height: var(--space-small);
}

.readMoreBtn:hover,
.readMoreBtn:active,
.readMoreBtn:focus {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.budgetInfo {
  position: absolute;
  right: 0;
  top: 0;
}

.currentMetric {
  display: block;
  color: var(--color-heading);
  font-size: var(--size-large);
  line-height: var(--space-medium);
  white-space: nowrap;
  font-weight: bold;
}

.delta {
  font-size: var(--size-small);
  line-height: var(--space-medium);
}

.baselineMetric {
  color: var(--color-text-light);
  font-size: var(--size-small);
  line-height: var(--space-small);
}

/* Loading state */
.loading.currentMetric {
  width: 8em;
}

.loading.baselineMetric {
  width: 5em;
}

/* Budget over */
.budgetOver .budgetIcon {
  color: var(--color-danger-light);
}

.budgetOver .budgetIcon:hover,
.budgetOver .budgetIcon:focus,
.budgetOver .budgetIcon:active
{
  color: var(--color-danger);
}

/* Budget under */
.budgetUnder .budgetIcon {
  color: var(--color-success-light);
}

.budgetUnder .budgetIcon:hover,
.budgetUnder .budgetIcon:focus,
.budgetUnder .budgetIcon:active
{
  color: var(--color-success);
}

/* Size large */
.large .currentMetric {
  font-size: var(--size-xxxlarge);
  line-height: var(--space-medium);
}
