.root {
  padding: var(--space-xsmall) var(--space-small);
  font-size: var(--size-small);
}

.title {
  margin-bottom: 0;
  color: var(--color-gray-light);
  font-size: var(--size-xsmall);
  font-weight: bold;
  line-height: var(--space-small);
  text-transform: uppercase;
  white-space: nowrap;
}

.currentMetric {
  min-height: var(--line-height);
  display: block;
  color: var(--color-dark);
  font-size: var(--size-large);
  font-weight: bold;
}

.delta {
  display: block;
  min-height: var(--space-small);
  line-height: var(--space-small);
  text-align: left;
}

/* Loading state */
.loading {
  background: linear-gradient(to bottom, transparent, transparent 20%, var(--color-gray-light-background) 20%, var(--color-gray-light-background) 80%, transparent);
  pointer-events: none;
  width: 8em;
}

/* Size large */
.large {
  font-size: var(--size-medium);
}

.large .currentMetric {
  font-size: var(--size-xlarge);
  min-height: var(--space-large);
}

.large .delta {
  font-size: var(--size-small);
}
