.title {
  align-items: center;
  color: var(--color-text-ultra-light);
  font-weight: bold;
  font-size: var(--size-xsmall);
  line-height: var(--space-small);
  text-transform: uppercase;
  white-space: nowrap;
}

.currentMetric {
  display: block;
  color: var(--color-heading);
  font-size: var(--size-large);
  line-height: var(--space-medium);
  white-space: nowrap;
  font-weight: bold;
}

.delta {
  font-size: var(--size-small);
  line-height: var(--space-medium);
}

.baselineMetric {
  color: var(--color-text-light);
  font-size: var(--size-small);
  line-height: var(--space-small);
}

/* Loading state */
.loading.currentMetric {
  width: 8em;
}

.loading.baselineMetric {
  width: 5em;
}

/* Size large */
.large .currentMetric {
  font-size: var(--size-xxxlarge);
  line-height: var(--space-medium);
}
