.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 var(--space-xsmall) var(--color-gray-ultra-light);
  background: var(--color-light);
  display: flex;
  align-items: center;
  padding: 0 var(--space-medium);
}

.headerRelativeLogo {
  width: var(--space-medium);
}

.headerGithubLogo {
  width: var(--space-medium);
  color: var(--color-gray-xlight);
}

.headerGithubLogo:active,
.headerGithubLogo:hover {
  color: var(--color-gray-light);
}

.headerNavigation {
  margin: 0 auto;
}

.main {
  padding: calc(2 * var(--space-medium)) 0 var(--space-large);
  min-height: calc(100vh - 86px);
}
