.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--color-gray-light);
  background: rgb(255, 255, 255, 0.9);
}

.headerInner {
  margin: 0 auto;
  padding: 0 var(--space);
  width: 100%;
  max-width: 64rem;
  display: flex;
  position: relative;
}

.main {
  margin: 0 auto;
  padding: calc(var(--space-small) * 2 + var(--space) + var(--space)) var(--space) var(--space);
  width: 100%;
  max-width: 64rem;
}
