.root {
  display: inline-block;
}

.button {
  background: none;
  border: none;
  padding: 0;

  border: 1px solid var(--color-outline);
  border-radius: var(--radius-small);
  padding: calc(var(--space-xxsmall) - 1px);
  display: flex;
  align-items: center;

  background: none;
  font-size: var(--size-small);
  line-height: var(--space-small);
  white-space: nowrap;
  appearance: none;
  cursor: pointer;
  color: var(--color-text-light);
}

.button:hover,
.button:focus,
.button:active {
  outline: none;
  box-shadow: 0 0 var(--space-xxxsmall) var(--color-shadow);
  border-color: var(--color-outline-dark);
  color: var(--color-text);
}

.dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  border-radius: var(--radius-medium);
  box-shadow: 0 2px var(--space-xxsmall) var(--color-shadow);
  background: var(--color-background);
  min-width: 180px;
  z-index: var(--layer-high);
  padding: var(--space-xxsmall) 0;
}

.dropdown:focus {
  outline: none;
  box-shadow: 0 2px var(--space-xsmall) var(--color-shadow);
}

.menuItem {
  display: block;
  appearance: none;
  cursor: pointer;
  width: 100%;
  outline: none;
  border: 0;
  padding: var(--space-xxxsmall) var(--space-xsmall);
  background: none;
  text-align: left;
  color: var(--color-text-light);
  font-size: var(--size-small);
  line-height: inherit;
  text-decoration: none;
}

.menuItem:hover {
  color: var(--color-text);
}

.menuItemActive {
  color: var(--color-primary);
}

.menuItemActive:hover {
  color: var(--color-primary-dark);
}
