.button {
  white-space: nowrap;
}

.button[disabled] {
  color: var(--color-text-ultra-light);
}

.dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-layer);
  background: var(--color-background);
  min-width: 16em;
  z-index: var(--layer-high);
  padding: var(--space-xxxsmall);
  color: var(--color-text-light);
  font-size: var(--size-small);
  line-height: var(--line-height);
  opacity: 0;
  transition: var(--transition-out);
}

.dropdown[data-enter] {
  opacity: 1;
  transition: var(--transition-in);
}

.dropdown[data-leave] {
  pointer-events: none;
}

.dropdown:focus {
  outline: none;
}

.item {
  display: block;
  appearance: none;
  width: 100%;
  outline: none;
  border: 0;
  border-radius: var(--radius-small);
  padding: var(--space-xxxsmall);
  background: none;
  text-align: left;
  text-decoration: none;
  cursor: default;
}

.item[data-active-item],
.item:hover,
.item:focus,
.item:active {
  background: var(--color-highlight);
  color: var(--color-text);
}

.itemActive {
  background: var(--color-highlight-info);
  color: var(--color-primary);
}

.itemActive:hover,
.itemActive:focus,
.itemActive:active {
  background: var(--color-highlight-info);
  color: var(--color-primary-dark);
}


.group {
  position: relative;
  padding: calc(var(--space-xxxsmall) / 2 + 1px) 0 calc(var(--space-xxxsmall) / 2);
}

.group::before {
  content: " ";
  display: block;
  position: absolute;
  left: var(--space-xxxsmall);
  right: var(--space-xxxsmall);
  top: 0px;
  height: 1px;
  border: none;
  background: var(--color-outline);
}

.group:first-child {
  padding-top: 0;
}

.group:first-child::before {
  display: none;
}

.group:last-child {
  padding-bottom: 0;
}

.group:empty {
  display: none;
}
