:root {
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --font-family-fixed: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  --max-width: 80rem;
  --chart-height: 180px;
}

html {
  font-size: 81.25%;
}

body {
  color: var(--color-text);
}

h1, h2, h3, h4, h5 {
  margin-bottom: var(--space-small);
  color: var(--color-heading);
  font-weight: 500;
}

h1 {
  font-size: var(--size-xxxlarge);
  line-height: var(--space-xlarge)
}

h2 {
  font-size: var(--size-xxlarge);
}

h3 {
  font-size: var(--size-xlarge);
}

h4 {
  font-size: var(--size-large);
}

h5 {
  font-size: var(--size-medium);
}

h6 {
  font-size: var(--size-small);
}

code {
  font-family: var(--font-family-fixed);
}

/** Orbit updates */
a {
  color: var(--color-primary);
}

a:hover,
a:active {
  color: var(--color-primary-dark);
}

.ui-button--primary {
  background: var(--color-primary);
}

.ui-button--primary:active,
.ui-button--primary:focus,
.ui-button--primary:hover {
  background: var(--color-primary-dark);
}

.ui-button--secondary {
  background: var(--color-secondary);
}

.ui-button--secondary:active,
.ui-button--secondary:focus,
.ui-button--secondary:hover {
  background: var(--color-secondary-dark);
}

.ui-button--info {
  background: var(--color-info);
}

.ui-button--info:active,
.ui-button--info:focus,
.ui-button--info:hover {
  background: var(--color-info-dark);
}

.ui-button--success {
  background: var(--color-success);
}

.ui-button--success:active,
.ui-button--success:focus,
.ui-button--success:hover {
  background: var(--color-success-dark);
}


.ui-button--warning {
  background: var(--color-warning);
}

.ui-button--warning:active,
.ui-button--warning:focus,
.ui-button--warning:hover {
  background: var(--color-warning-dark);
}

.ui-button--danger {
  background: var(--color-danger);
}

.ui-button--danger:active,
.ui-button--danger:focus,
.ui-button--danger:hover {
  background: var(--color-danger-dark);
}

.__reakit-portal {
  z-index: var(--layer-xhigh);
  position: relative;
}
