:root {
  /* Spaces */
  --space-xxxsmall: 4px;
  --space-xxsmall: 8px;
  --space-xsmall: 12px;
  --space-small: 16px;
  --space-medium: 24px;
  --space-large: 32px;
  --space-xlarge: 40px;
  --space-xxlarge: 48px;
  --space-xxxlarge: 64px;

  /* Typography scale */
  --size-xsmall: 0.77rem;
  --size-small: 0.92rem;
  --size: 1rem;
  --size-medium: var(--size);
  --size-large: 1.125rem;
  --size-xlarge: 1.266rem;
  --size-xxlarge: 1.424rem;
  --size-xxxlarge: 1.602rem;

  --line-height: var(--space-medium);

  /*
   * Color scheme:
   * http://mcg.mbitson.com/#!?mcgpalette0=%23da5a63&mcgpalette1=%236bb967&mcgpalette2=%23f6e27f&mcgpalette3=%23313435&mcgpalette4=%233784d2&themename=mcgtheme
   * https://coolors.co/3784d2-da5a63-6bb967-f6e27f-313435
   */
  --color-gray-25: #fafafa;
  --color-gray-50: #e6e7e7;
  --color-gray-100: #c1c2c2;
  --color-gray-200: #989a9a;
  --color-gray-300: #6f7172;
  --color-gray-400: #505253;
  --color-gray-500: #313435;
  --color-gray-600: #2c2f30;
  --color-gray-700: #252728;
  --color-gray-800: #1f2122;
  --color-gray-900: #131516;

  --color-gray-ultra-light: var(--color-gray-100);
  --color-gray-light: var(--color-gray-200);
  --color-gray: var(--color-gray-500);
  --color-gray-dark: var(--color-gray-700);
  --color-gray-ultra-dark: var(--color-gray-900);

  --color-red-25: #fdf5f6;
  --color-red-50 : #fbebec;
  --color-red-100 : #f4ced0;
  --color-red-200 : #edadb1;
  --color-red-300 : #e58c92;
  --color-red-400 : #e0737a;
  --color-red-500 : #da5a63;
  --color-red-600 : #d6525b;
  --color-red-700 : #d04851;
  --color-red-800 : #cb3f47;
  --color-red-900 : #c22e35;
  --color-red-ultra-light: var(--color-red-100);
  --color-red-light: var(--color-red-300);
  --color-red: var(--color-red-500);
  --color-red-dark: var(--color-red-700);
  --color-red-ultra-dark: var(--color-red-900);

  --color-blue-25 : #f3f8fd;
  --color-blue-50 : #e7f0fa;
  --color-blue-100 : #c3daf2;
  --color-blue-200 : #9bc2e9;
  --color-blue-300 : #73a9e0;
  --color-blue-400 : #5596d9;
  --color-blue-500 : #3784d2;
  --color-blue-600 : #317ccd;
  --color-blue-700 : #2a71c7;
  --color-blue-800 : #2367c1;
  --color-blue-900 : #1654b6;
  --color-blue-ultra-light: var(--color-blue-100);
  --color-blue-light: var(--color-blue-300);
  --color-blue: var(--color-blue-500);
  --color-blue-dark: var(--color-blue-700);
  --color-blue-ultra-dark: var(--color-blue-900);

  --color-green-25 : #f6fbf6;
  --color-green-50 : #edf7ed;
  --color-green-100 : #d3ead1;
  --color-green-200 : #b5dcb3;
  --color-green-300 : #97ce95;
  --color-green-400 : #81c47e;
  --color-green-500 : #6bb967;
  --color-green-600 : #63b25f;
  --color-green-700 : #58aa54;
  --color-green-800 : #4ea24a;
  --color-green-900 : #3c9339;
  --color-green-ultra-light: var(--color-green-100);
  --color-green-light: var(--color-green-300);
  --color-green: var(--color-green-500);
  --color-green-dark: var(--color-green-700);
  --color-green-ultra-dark: var(--color-green-900);

  --color-yellow-25: #FFFDF2;
  --color-yellow-50 : #fbf9ee;
  --color-yellow-100 : #f6f0d5;
  --color-yellow-200 : #f0e7ba;
  --color-yellow-300 : #e9dd9e;
  --color-yellow-400 : #e5d589;
  --color-yellow-500 : #e0ce74;
  --color-yellow-600 : #dcc96c;
  --color-yellow-700 : #d8c261;
  --color-yellow-800 : #d3bc57;
  --color-yellow-900 : #cbb044;
  --color-yellow-light-background: var(--color-yellow-25);
  --color-yellow-ultra-light: var(--color-yellow-100);
  --color-yellow-light: var(--color-yellow-300);
  --color-yellow: var(--color-yellow-500);
  --color-yellow-ultra-dark: var(--color-yellow-700);
  --color-yellow-dark: var(--color-yellow-900);

  --color-dark: #111;
  --color-light: #fff;

  /* Functional color variables */
  --color-branding-light: #265b93;
  --color-branding: #1a477f;
  --color-branding-dark: #10356d;

  --color-text-ultra-light: var(--color-gray-ultra-light);
  --color-text-light: var(--color-gray-light);
  --color-text: var(--color-gray);
  --color-text-dark: var(--color-gray-dark);
  --color-text-ultra-dark: var(--color-gray-ultra-dark);
  --color-heading: var(--color-gray-ultra-dark);

  --color-success-light: var(--color-green-light);
  --color-success: var(--color-green);
  --color-success-dark: var(--color-green-dark);
  --color-info-light: var(--color-blue-light);
  --color-info: var(--color-blue);
  --color--info-dark: var(--color-blue-dark);
  --color-warning-light: var(--color-yellow-light);
  --color-warning: var(--color-yellow);
  --color-warning-dark: var(--color-yellow-dark);
  --color-danger-light: var(--color-red-light);
  --color-danger: var(--color-red);
  --color-danger-dark: var(--color-red-dark);

  --color-primary-light: var(--color-blue-light);
  --color-primary: var(--color-blue);
  --color-primary-dark: var(--color-blue-dark);

  --color-secondary-light: var(--color-green-light);
  --color-secondary: var(--color-green);
  --color-secondary-dark: var(--color-green-dark);

  --color-background: #fff;
  --color-highlight: var(--color-gray-25);
  --color-highlight-success: var(--color-green-25);
  --color-highlight-info: var(--color-blue-25);
  --color-highlight-warning: var(--color-yellow-25);
  --color-highlight-danger: var(--color-red-25);

  --color-outline: var(--color-gray-50);
  --color-outline-success: var(--color-green-100);
  --color-outline-info: var(--color-blue-100);
  --color-outline-warning: var(--color-yellow-100);
  --color-outline-danger: var(--color-red-100);

  --color-shadow: rgba(0, 0, 0, 0.2);

  --transition-in: all 0.2s ease-in;
  --transition-out: all 0.17s ease-out;

  --layer-xlow: 1;
  --layer-low: 10;
  --layer: 100;
  --layer-high: 1000;
  --layer-xhigh: 10000;
}
