.title {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fileName {
  max-width: 100%;
  padding: 2px;
  background: var(--color-highlight-warning);
}

.viewModules {
  display: block;
}
