.fileName {
  max-width: 100%;
  padding: 0 2px;
  background: var(--color-highlight-warning);
}

.label {
  font-size: var(--size-medium);
}

.runLabel {
  font-size: var(--size-medium);
}

.assetNameTagEntry {
  background: var(--color-info-dark);
}

.assetNameTagInitial {
  background: var(--color-info);
}

.assetNameTagChunk {
  background: var(--color-info-light);
}

.runs {
  font-size: var(--size-small);
}
