.root {
  background: var(--color-gray-light-background);
}

.header {
  position: relative;
}

.headerRelativeLogo {
  width: var(--space-large);
  color: var(--color-branding);
}

.headerRelativeLogo:active,
.headerRelativeLogo:hover {
  color: var(--color-branding-dark);
}

.headerGithubLogo {
  width: var(--space-medium);
  color: var(--color-gray-ultra-light);
}

.headerGithubLogo:active,
.headerGithubLogo:hover {
  color: var(--color-gray-light);
}

.headerNavigation {
  margin: 0 auto;
}

.main {
  padding: 0 0 var(--space-large);
  min-height: calc(100vh - 86px);
}

.footer {
  background: var(--color-light);
  box-shadow: 0 0 var(--space-small) var(--color-gray-ultra-light);
}
