.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.source {
  position: relative;
  flex: 1 1 25%;
  min-width: 15rem;
  margin: calc(var(--space-xsmall) / 2);
  padding: var(--space-xsmall);
  border: 1px solid var(--color-gray-light);
}

.title {
  margin: 0;
  font-size: var(--size);
  color: inherit;
}

.url {
  display: block;
  margin: 0;
  max-width: 100%;
}

.remove {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  padding: var(--space-xsmall);
}

/* Source error modifier */
.error {
  border-color: var(--color-red);
  color: var(--color-red);
}

/* Source loading modifier */
.loading {
  border-color: var(--color-gray);
  color: var(--color-gray);
}

/* List empty state */
.empty {
  margin: 0;
  padding: var(--space-xsmall);
  text-align: center;
  flex: 1 1 100%;
}
