.root {
  display: flex;
  justify-content: center;
}

.item {
  flex: 1 1 10%;
  min-width: 2rem;
  padding: var(--space-xsmall);
  margin-left: -1px;
}

/* List empty state */
.empty {
  margin: 0;
  padding: var(--space-xsmall);
  text-align: center;
  flex: 1 1 100%;
}
