.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 1 1 auto;
  min-width: 10rem;
  margin: calc(var(--space-xsmall) / 2);
  padding: var(--space-xsmall);
  border: 1px solid var(--color-gray-light);
}

/* List empty state */
.empty {
  margin: 0;
  padding: var(--space-xsmall);
  text-align: center;
  flex: 1 1 100%;
}
