.root {
  --summary-gap: var(--space-small);
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: var(--space-small);
}

.rowGroup {
  flex: 1 1 auto;
}

.rowGroupTitle {
  position: absolute;
  font-size: 0;
  width: 0;
  left: -99999px;
}

.row + .row {
  margin-top: var(--summary-gap);
}

.items {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: var(--space-small);
}

.item {
  flex: 1 1 10%; /* force equal sizes */
  min-width: 8em;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.item::before {
  content: "";
  border-radius: var(--radius-medium);
  background: var(--color-highlight);
  display: block;
  position: absolute;
  z-index: -1;
  top: calc(0px - var(--space-xxsmall));
  right: calc(0px - var(--space-xxsmall));
  bottom: calc(0px - var(--space-xxsmall));
  left: calc(0px - var(--space-xxsmall));
  opacity: 0;
  transition: var(--transition-out);
}

.item:hover::before {
  opacity: 1;
  transition: var(--transition-in);
}

.itemSmall {
  min-width: 8em;
}
