.root {
  width: 100%;
  overflow: auto;
}

.items {}

.item {
  flex: 1 0 25%; /* force equal sizes */
  position: relative;
}

.item::before {
  content: '';
  display: block;
  width: 1px;
  position: absolute;
  left: -1px;
  top: var(--space-xsmall);
  bottom: var(--space-xsmall);
  background: var(--color-outline);
}

.item:hover {
  background: var(--color-highlight);
}

.summaryItemLink {
  color: inherit;
  text-decoration: none;
}
