.root {
  text-align: center;
}

.inner {
  border-top: 1px solid var(--color-outline);
}

.navItem {
  display: inline-block;
  margin: 0 var(--space);
}

.navItem + .navItem::before {
  content: '•';
  margin-right: var(--space-2x);
  color: var(--color-text-ultra-muted);
  font-size: var(--size-large);
}
