.root {
  text-align: center;
}

.inner {
  border-top: 2px solid var(--color-outline);
}

.navItem {
  display: inline-block;
  margin: 0 var(--space-xxxsmall);
}

.navItem + .navItem::before {
  content: '•';
  margin-right: var(--space-xxsmall);
  color: var(--color-text-ultra-light);
  font-size: var(--size-large);
}
