.root {
  display: inline-block;
  vertical-align: middle; /** center align when parent display is inline/inline-block **/
}

.icon {
  display: block;
  width: 100%;
  height: 100%;
}

/** Size variation */
.small {
  width: var(--space-3x);
  height: var(--space-3x);
}

.medium {
  width: var(--space-4x);
  height: var(--space-4x);
}

.large {
  width: var(--space-6x);
  height: var(--space-6x);
}
