.root {
  display: inline-block;
  min-height: var(--space-small);
}

.icon {
  display: inline-block;
  width: var(--space-small);
  height: auto;
  max-height: var(--space-small);
  vertical-align: middle;
}

.text {
  line-height: 1.3;
  vertical-align: middle;
}
