.title {
  line-height: 1;
  font-weight: bold;
  vertical-align: top;
}

.tag {
  padding: var(--space-xxxsmall);
  margin-left: var(--space-xxxsmall);
  background-color: var(--color-highlight);
  color: var(--color-text-light);
  display: inline-block;
  font-size: 9px;
  line-height: var(--space-xxsmall);
  font-weight: normal;
  vertical-align: top;
}

.meta {
  color: var(--color-text-light);
}

.metaItem {
  display: inline-flex;
  align-items: center;
}

.metaIcon {
  width: var(--space-small);
  height: var(--space-small);
  margin-right: var(--space-xxxsmall);
}

.metaLabel {
  line-height: var(--space-small);
}
