.title {
  font-size: var(--size-xlarge);
  vertical-align: top;
}

.tag {
  padding: var(--space-xxxsmall);
  margin-left: var(--space-xxxsmall);
  background: var(--color-highlight);
  color: var(--color-text-light);
  display: inline-block;
  font-size: var(--size-xsmall);
  line-height: var(--space-xxsmall);
  font-weight: normal;
  vertical-align: top;
}

.metaItem {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

.metaIcon {
  width: var(--space-small);
  height: var(--space-small);
  color: var(--color-text-ultra-light);
}

.metaLabel {
  color: var(--color-text-light);
}
