.title {
  font-size: var(--size-xlarge);
  line-height: 1;
  font-weight: bold;
  vertical-align: top;
}

.tag {
  margin-left: var(--space-xxsmall);
  vertical-align: top;
  outline: 1px solid var(--color-outline);
  background: var(--color-highlight);
  color: var(--color-text-light);
}

.meta {
  font-size: var(--size-small);
  color: var(--color-text-light);
}
