.root {
  border-bottom: 1px solid var(--color-gray-ultra-light);
  background: var(--color-light);
  padding-top: var(--space-large);
  padding-bottom: var(--space-large);
}

.example {
  margin: var(--space-xsmall) 0 0;
  text-align: center;
}

.add {
  margin-top: var(--space-medium);
}

.empty {
  border-bottom: 0;
}
