.icon {
  border-radius: 50%;
  padding: 3px;
  width: 22px;
  height: 22px;
  background: var(--color-highlight);
}

.ERROR .icon {
  background: var(--color-red-50);
  color: var(--color-danger);
}

.WARNING .icon {
  background: var(--color-yellow-100);
  color: var(--color-warning-dark);
}

.INFO .icon {
  background: var(--color-highlight-info);
  color: var(--color-info);
}

.entry {
  color: inherit;
  text-decoration: none;
}

.entry:hover,
.entry:active,
.entry:focus {
  text-decoration: underline;
}
