.icon {
  flex: 0 0 auto;
  width: calc(var(--space-small) + 6px);
  height: calc(var(--space-small) + 6px);
  padding: 3px;
  border-radius: 50%;
  background: var(--color-highlight);
}

.error .icon {
  background: var(--color-red-50);
  color: var(--color-danger);
}

.warning .icon {
  padding-top: 1px;
  background: var(--color-yellow-200);
  color: var(--color-yellow-900);
}

.info .icon {
  background: var(--color-highlight-info);
  color: var(--color-info);
}

.entry {
  color: inherit;
  text-decoration: none;
}

.entry:hover,
.entry:active,
.entry:focus {
  text-decoration: underline;
}
