.root {
  width: 100%;
  position: relative;
  z-index: var(--layout-low); /** show collapsed border on focus */
}

.input {
  height: var(--space-8x);
}

.cancelButton {
  position: absolute;
  right: var(--space);
  top: 50%;
  transform: translateY(-50%);
  padding: var(--space);
  background: radial-gradient(var(--color-background) 50%, transparent);
}
