.root {
  position: relative;
  padding: var(--space-xsmall);
  border: 1px solid var(--color-gray-light);
}

.title {
  margin: 0;
  font-size: var(--size);
  color: inherit;
}

.url {
  display: block;
  margin: 0;
  white-space: nowrap;
  max-width: 100%;
  color: var(--color-gray);
  font-size: var(-size-small);
  text-overflow: ellipsis;
  overflow: hidden;
}

.errorMessage {
  margin-top: var(--space-xsmall);
}

.remove {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  padding: var(--space-xxxsmall);
  background: transparent;
  cursor: pointer;
  opacity: 0.3;
}

.remove::before {
  display: block;
  content: ' ';
  width: 1rem;
  height: 1rem;
  background: url('./assets/close.svg') no-repeat 0 0/100% 100%;
}

.remove:hover {
  opacity: 0.6;
}

/* Hover state */
.root:hover {
  position: relative;
  z-index: 2;
  border-color: var(--color-gray);
}

.root:hover .remove {
  display: block;
}

/* Source error modifier */
.error {
  border-color: var(--color-red);
  color: var(--color-red);
}

/* Source loading modifier */
.loading {
  border-color: var(--color-gray);
  color: var(--color-gray);
}
