.root {
  display: inline-block;
  line-height: 1em;
}

/* Budget error */
.error .icon {
  color: var(--color-danger);
}

.error .icon:hover,
.error .icon:focus,
.error .icon:active
{
  color: var(--color-danger-light);
}

/* Budget success */
.success .icon {
  color: var(--color-success);
}

.success .icon:hover,
.success .icon:focus,
.success .icon:active
{
  color: var(--color-success-light);
}

/* Budget warning */
.warning .icon {
  color: var(--color-warning-dark);
}

.warning .icon:hover,
.warning .icon:focus,
.warning .icon:active
{
  color: var(--color-warning);
}
