.root {
  background: var(--color-background);
}

.outline {
  box-shadow: 0 0 0 1px var(--color-outline);
}

/* Space modifier */
.small {
  padding: var(--space-xsmall);
}

.medium {
  padding: var(--space-small);
}

.large {
  padding: var(--space-medium);
}
