:root {
  --space-xxxsmall: 4px;
  --space-xxsmall: 8px;
  --space-xsmall: 12px;
  --space-small: 16px;
  --space-medium: 24px;
  --space-large: 32px;
  --space-xlarge: 40px;
  --space-xxlarge: 48px;
  --space-xxxlarge: 64px;

  /* Typography scale */
  --size-xsmall: 0.77rem;
  --size-small: 0.92rem;
  --size: 1rem;
  --size-medium: var(--size);
  --size-large: 1.14rem;
  --size-xlarge: 1.43rem;
  --size-xxlarge: 1.71rem;
  --size-xxxlarge: 2.43rem;

  --line-height: var(--space-medium);

  --color-dark: #171717;

  --color-gray-xxxlight: #fafafa;
  --color-gray-xxlight: #E3E3E3;
  --color-gray-xlight: #A4A4A4;
  --color-gray-light: #7A7A7A;
  --color-gray: #505050;
  --color-gray-dark: #202020;

  --color-red: #ff8a8e;
  --color-green: #439a86;
  --color-green-ultra-light: #D3E8E3;
  --color-green-light: #8BC1B5;
  --color-green-dark: #34757D;
  --color-yellow: #fff1a6;
  --color-yellow-50: #fffde7;
  --color-blue: #53a2be;
  --color-light: #fff;

  --color-primary: #343951;
  --color-primary-dark: #2D2941;
  --color-primary-light: #44495F;

  --color-secondary: var(--color-green);
  --color-secondary-dark: var(--color-green-dark);
  --color-secondary-light: var(--color-green-light);
}
