.root {
  box-shadow: 0 0 0 1px var(--color-outline);
}

.success {
  box-shadow: 0 0 0 1px var(--color-outline-success);
  background: var(--color-highlight-success);
}

.info {
  box-shadow: 0 0 0 1px var(--color-outline-info);
  background: var(--color-highlight-info);
}

.warning {
  box-shadow: 0 0 0 1px var(--color-outline-warning);
  background: var(--color-highlight-warning);
}

.danger {
  box-shadow: 0 0 0 1px var(--color-outline-danger);
  background: var(--color-highlight-danger);
}
