.root {
  border-bottom: 1px solid var(--color-outline);
  background: var(--color-highlight);
}

.inner {
  display: flex;
  align-items: center;
}

.icon {
  flex: 0 0 auto;
  margin-right: var(--space-xsmall);
}

.details {
  flex: 1 1 100%;
  position: relative;
}

.title {
  margin: 0;
  font-weight: bold;
  font-size: 2.027em;
  line-height: 1.1;
}

.subtitle {
  margin: 0;
  color: var(--color-gray-light);
  font-weight: bold;
  text-transform: uppercase;
}

.rightSide {
  flex: 0 0 auto;
}

/** Small size modifier */
.small .icon {
  margin-right: var(--space-xxsmall);
}

.small .title {
  font-size: var(--size-xlarge);
  line-height: var(--line-height);
}

.small .rightSize {
  margin-left: var(--space-xxsmall);
}

/** Breakpoint changes */
.inner {
  flex-wrap: wrap;
}

.rightSide {
  margin: var(--space-xsmall) 0 0;
}

@media (min-width: 768px) {
  .inner {
    flex-wrap: nowrap;
  }

  .rightSide {
    margin: 0 0 0 var(--space-xsmall);
  }
}
