.root {
  border-bottom: 1px solid var(--color-gray-ultra-light);
  background: var(--color-gray-light-background);
}

.inner {
  display: flex;
  align-items: center;
}

.icon {
  flex: 0 0 auto;
  margin-right: var(--space-xsmall);
}

.details {
  flex: 1 1 100%;
  position: relative;
}

.title {
  margin: 0;
  font-weight: bold;
}

.subtitle {
  margin: 0;
  color: var(--color-gray-light);
  font-weight: bold;
  text-transform: uppercase;
}

.rightSide {
  flex: 0 0 auto;
  margin-left: var(--space-xsmall);
}
