.root {
  display: flex;
  justify-content: flex-start;
  gap: 0;
}

/** Space variation */
.space--xxxsmall {
  gap: var(--space-xxxsmall);
}

.space--xxsmall {
  gap: var(--space-xxsmall);
}

.space--xsmall {
  gap: var(--space-xsmall);
}

.space--small {
  gap: var(--space-small);
}

.space--medium {
  gap: var(--space-medium);
}

.space--large {
  gap: var(--space-large);
}

.space--xlarge {
  gap: var(--space-xlarge);
}

.space--xxlarge {
  gap: var(--space-xxlarge);
}

.space--xxxlarge {
  gap: var(--space-xxxlarge);
}

/** Align items variation */
.root {
  align-items: stretch;
}

.align-items--flex-start {
  align-items: flex-start;
}

.align-items--flex-end {
  align-items: flex-end;
}

.align-items--center {
  align-items: center;
}

.align-items--baseline {
  align-items: baseline;
}

/** Inline variation */
.inline {
  display: inline-flex;
}
