.root {
  --gap: 0px;

  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.root > .item {
  margin-right: var(--gap);
}

.root > .item:last-child {
  margin-right: 0;
}

.space--xxxsmall {
  --gap: var(--space-xxxsmall);
}

.space--xxsmall {
  --gap: var(--space-xxsmall);
}

.space--xsmall {
  --gap: var(--space-xsmall);
}

.space--small {
  --gap: var(--space-small);
}

.space--medium {
  --gap: var(--space-medium);
}

.space--large {
  --gap: var(--space-large);
}

.space--xlarge {
  --gap: var(--space-xlarge);
}

.space--xxlarge {
  --gap: var(--space-xxlarge);
}

.space--xxxlarge {
  --gap: var(--space-xxxlarge);
}
