.root {
  padding: var(--space-small);
}
.title {
	margin: 0 0 var(--space-xxsmall);
	text-align: center;
	color: var(--color-gray-light);
	font-size: var(--size-medium);
	font-family: var(--font-family);
  line-height: var(--line-height);
  text-transform: uppercase;
}

.chart {
  height: var(--chart-height);
  font-size: 12px;
  font-family: var(--font-family-fixed);
}

.tooltip {
  margin: 0;
  padding: 0;
  padding: var(--space-small);
  background: var(--color-light);
  border: 1px solid var(--color-gray-100);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  font-family: var(--font-family);
}
