.root {
  padding: var(--space-small);
}
.title {
	margin: 0 0 var(--space-xxsmall);
	text-align: center;
	color: var(--color-text-light);
	font-size: var(--size-medium);
	font-family: var(--font-family);
  line-height: var(--line-height);
  text-transform: uppercase;
}

.chart {
  height: var(--chart-height);
  font-size: 12px;
  font-family: var(--font-family-fixed);
}
