.root {
  border-width: 0;
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
  background: var(--color-background);
}

.cell {
  border: 1px solid var(--color-outline);
  border-width: 1px 0 0;
  padding: var(--space-small) var(--space-small);
  text-align: left;
}

tr:last-child .cell {
  border-bottom-width: 1px;
}

.root thead .cell {
  border-width: 0 0 2px;
  text-transform: uppercase;
  vertical-align: top;
}

.root thead .cell:empty {
  display: none;
}

.root tbody .cell {
  font-weight: normal;
}

.root tbody .cell a {
  color: inherit;
  text-decoration: none;
}

.root tbody .cell a:hover,
.root tbody .cell a:focus,
.root tbody .cell a:active
{
  color: var(--color-primary);
  text-decoration: underline;
}

.root tbody tr:nth-child(odd) .cell {
  background-color: var(--color-highlight);
}

.root tbody tr:hover .cell {
  background-color: var(--color-highlight-warning);
}

.empty {
  border: 1px solid var(--color-outline);
  border-width: 1px 0;
  padding: var(--space-xlarge) var(--space-medium);
  background: var(--color-background) !important;
  text-align: center;
}

/* outline variation */
.outline {
  border: 1px solid var(--color-outline);
  border-width: 0 1px;
}

.outline thead tr:first-child .cell {
  border-top-width: 1px;
}

.outline.empty {
  border-width: 1px;
}

/* compact variation */
.compact .cell {
  padding-top: var(--space-xsmall);
  padding-bottom: var(--space-xsmall);
}
