.root {
  display: block;
  letter-spacing: 0.05em;
}

.displayUnit {
  color: var(--color-text-light);
}

.delta {
  display: block;
  font-size: var(--size-xsmall);
}

.anchored {
  position: relative;
}

.anchored .delta {
  position: absolute;
  right: 0;
  top: 100%;
  line-height: 1;
  margin-top: -2px;
}

.inline .delta {
  display: inline-block;
  margin: 0 0 0 var(--space-xxxsmall);
}
