.root {
  display: block;
  position: relative;
  letter-spacing: 0.05em;
}

.displayUnit {
  color: var(--color-gray-light);
}

.delta {
  position: absolute;
  right: 0;
  top: 100%;
  display: block;
  font-size: var(--size-xsmall);
  line-height: 1;
  margin-top: -3px;
}
