.root {
  position: relative;
  padding: var(--space-xsmall);
  border: 1px solid var(--color-gray-ultra-light);
}

.title {
  margin: 0;
  font-size: var(--size);
  color: inherit;
}

.url {
  display: block;
  margin: 0;
  white-space: nowrap;
  max-width: 100%;
  font-size: var(--size-small);
  text-overflow: ellipsis;
  text-decoration: none;
  overflow: hidden;
}

.url:hover,
.url:active,
.url:focus {
  text-decoration: underline;
}

.meta {
  margin: var(--space-xxxsmall) 0 0;
  font-size: var(--size-small);
}

.entry {
  margin: 0;
  white-space: nowrap;
  max-width: 100%;
  color: var(--color-gray);
  font-size: var(--size-small);
  text-overflow: ellipsis;
  overflow: hidden;
}

.entryKey::after {
  margin-right: 0.3em;
  display: inline-block;
  content: ":";
}

.errorMessage {
  margin-top: var(--space-small);
}

.remove {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  width: calc(1rem + var(--space-xxsmall));
  height: calc(1rem + var(--space-xxsmall));
  background: transparent;
  cursor: pointer;
  opacity: 0.3;
  text-align: left;
  text-indent: -9999em;
  overflow: hidden;
}

.remove::before {
  position: absolute;
  top: var(--space-xxxsmall);
  right: var(--space-xxxsmall);
  display: block;
  content: ' ';
  width: 1rem;
  height: 1rem;
  background: url('./assets/close.svg') no-repeat 0 0/100% 100%;
}

.remove:hover {
  opacity: 0.6;
}

/* Hover state */
.root:hover {
  position: relative;
  z-index: 2;
  border-color: var(--color-gray-light);
}

.root:hover .remove {
  display: block;
}

/* Source error modifier */
.error {
  border-color: var(--color-red);
  color: var(--color-red);
}

/* Source loading modifier */
.loading {
  border-color: var(--color-gray);
  color: var(--color-gray);
}
