.root {
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid var(--color-gray-light);
  border-width: 0 0 1px 1px;
}

.cell {
  padding: var(--space-xsmall) var(--space-small);
  border: 1px solid var(--color-gray-light);
  border-width: 1px 1px 0 0;
  text-align: left;
}

thead .cell {
  text-transform: uppercase;
}

tbody th.cell {
  font-weight: normal;
}
