.root {
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
}

.cell {
  padding: 1rem;
  border: 1px solid #eee;
  border-width: 1px 0;
  text-align: left;
}

thead .cell {
  border-top: none;
  text-transform: uppercase;
}

tbody th.cell {
  font-weight: normal;
}

tbody tr:nth-child(odd) .cell {
  background: #fbfbfb;
  border: none;
}
