.header {
  margin: -24px -24px 0;
}

.main {
  min-height: calc(100vh - 72px);
}

.headerLogo {
  margin-right: var(--space-xxsmall);
  width: 32px;
  height: 32px;
  color: var(--color-branding);
}

.headerLogotype {
  width: 122px;
  height: 14px;
  color: inherit;
}

.footer {
  margin: 0 -24px -24px;
}
