.root {
  margin: calc(0px - var(--space-medium) - 1rem);
}

.header {
  border-bottom: 1px solid var(--color-outline);
  box-shadow: 0 0 var(--space-xxxsmall) var(--color-shadow);
}

.headerInner {
  display: flex;
  align-items: center;
}

.headerLogo {
  margin-right: var(--space-medium);
  width: 32px;
  height: 32px;
}

.summaryContainer {
  padding-top: var(--space-medium);
  background: var(--color-highlight);
}

.tabsContainer {
  border: 1px solid var(--color-outline);
  border-width: 0 0 1px;
  padding-top: var(--space-xxsmall);
  background: var(--color-highlight);
}

.tabsContainer .tabs {
  margin-bottom: -1px; /* overlap bottom border */
}

.main {
  padding: 0 0 var(--space-large);
  min-height: calc(100vh - 72px);
}

.footer {
  margin: 0 -24px -24px;
}
