.root {
  position: relative;
  aspect-ratio: 16/9;
  background: var(--color-background);
}

.canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  fill: var(--color-text);
  font-family: var(--font-family);
  background: var(--color-background);
}

/** Tile overlay fill background transition */
.root {
  transition: var(--ui-transition-out);
  transition-property: opacity;
}

/** Leaf wrapper button */
.leafAction {
  position: relative;
  appearance: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--font-family-fixed);
  font-size: var(--size-small);
  line-height: var(--line-height-heading);
  text-align: left;
}

.leafAction::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  color: var(--color-background);
  transition: var(--ui-transition-out);
  transition-property: opacity;
  opacity: 0.6;
}

.leaf:hover .leafAction::before {
  transition: var(--ui-transition-in);
  opacity: 0.4;
}

.leafContent {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: var(--space-xxsmall) var(--space-xxsmall);
  gap: var(--space-xxxsmall);
  line-height: var(--line-height-heading);
}

/** Align label to other elements on the first column leafs */
.leaf[x="1"] .leafContent {
  padding-left: var(--space-small);
}

.leadContentLabel {
  flex: 0 1 auto;
  width: 100%;
  min-width: 0;
  max-height: calc(2em * var(--line-height-heading));
  overflow: hidden;
}

.leadContentValue {
  flex: 0 0 auto;
  max-width: calc(100% + var(--space-xxsmall));
  white-space: nowrap;
  overflow: hidden;
}

.leadContentMetric {
  font-weight: bold;
}

.leadContentDelta {
  margin-left: var(--space-xxxsmall);
}

/** Tile size variation */
.leafSmall .leafContent {
  padding: var(--space-xxxsmall) var(--space-xxsmall);
  gap: 0;
  font-size: var(--size-xsmall);
}

.leafSmall .leadContentLabel {
  margin-top: 0;
}

/** Tile diff variation */
.leaf-NO_CHANGE .leafAction {
  color: var(--color-text-light);
}

.leaf-NO_CHANGE .leafAction::before {
  color: var(--color-gray-50);
  opacity: 0.4;
}

.leaf-NO_CHANGE:hover .leafAction::before {
  opacity: 0.2;
}

.leaf-HIGH_NEGATIVE .leafAction::before {
  color: var(--color-red-100);
}

.leaf-NEGATIVE .leafAction::before {
  color: var(--color-red-50);
}

.leaf-LOW_NEGATIVE .leafAction::before {
  color: var(--color-red-25);
}

.leaf-LOW_POSITIVE .leafAction::before {
  color: var(--color-green-25);
}

.leaf-POSITIVE .leafAction::before {
  color: var(--color-green-50);
}

.leaf-HIGH_POSITIVE .leafAction::before {
  color: var(--color-green-100);
}

/** empty message */
.emptyMessage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyMessageWrapper {
  max-width: 100%;
  text-align: center;
}

/** tooltip */
.leafContentTooltipAnchor {
  width: 100%;
  height: 100%;
}

.tooltip {
  z-index: var(--layer-xxhigh);
  padding: var(--space-xsmall) var(--space-small);
  border-radius: var(--radius-medium);
  width: calc(100vw - 2 * var(--space-small));
  max-width: 340px;
  outline: none;
  filter: drop-shadow(var(--shadow-layer-high));
  will-change: filter;
  background: var(--color-light);
  font-size: var(--size-small);
  pointer-events: none;
}

/* prevent tooltip portal wrapper from capturing events */
div[role="presentation"]:has(.tooltip) {
  pointer-events: none;
}


.leafTooltipArrow svg {
  display: block;
  fill: var(--color-background) !important;
}

.leafTooltipContentTitle {
  font-size: var(--size-medium);
}
