.metric {
  font-weight: bold;
}

.metric::before,
.link::before {
  content: '\00A0\2014\00A0';
  font-weight: normal;
  color: var(--color-text-ultra-light);
}

.delta {
  margin-left: var(--space-xxxsmall);
  padding: 1px 2px;
  vertical-align: super;
  font-size: 9px;
  line-height: 1;
}
