.root {
  width: 100%;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-medium);
  text-align: center;
}

/* https://codepen.io/alanshortis/pen/eJLVXr */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: block;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 0.33rem solid var(--color-highlight);
  border-top-color: var(--color-outline);
  animation: spin 0.85s infinite linear;
}
