.root a {
  text-decoration: none;
}

.root a:hover,
.root a:active,
.root a:focus {
  text-decoration: underline;
}

.title {
  margin-bottom: var(--space-xxsmall);
  font-size: var(--size-medium);
}

.groups {
  margin: 0;
  padding: 0;
  font-size: var(--size-small);
}

.group {
  margin: 0;
  list-style-position: inside;
}

.groupTitle {
  margin: 0;
  font-weight: bold;
}

.groupItems {
  margin: 0;
}

.itemValue {
  margin-left: var(--space-xxsmall);
  display: inline;
}
