@import url("~@moonwalker/orbit-ui/dist/base/index.css");
@import url("~@bundle-stats/ui/lib/css/variables.css");
@import url("~@bundle-stats/ui/lib/css/default.css");

:root {
  --max-width: 1024px;
}

html {
  box-sizing: border-box;
}
