.flag {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  color: white;
  line-height: 1.6;
  text-align: center;
}

.added {
  composes: flag;
  background: blue;
}

.deleted {
  composes: flag;
  background: red;
}
