.title {
  color: var(--color-text-ultra-light);
  font-weight: bold;
  font-size: var(--size-xsmall);
  text-transform: uppercase;
  white-space: nowrap;
}

.titleIcon {
  flex: 0 0 var(--space-small);
  margin-top: -4px !important;
  margin-bottom: -4px !important;
}

.info {
  margin-top: var(--space-xxsmall);
}

.currentMetric {
  color: var(--color-heading);
  font-size: var(--size-xxlarge);
  line-height: var(--line-height-heading);
  white-space: nowrap;
  font-weight: bold;
}

.baselineMetric {
  color: var(--color-text-light);
  font-size: var(--size-small);
  line-height: var(--line-height-heading);
}

/* Loading state */
.loading.currentMetric {
  width: 8em;
}

.loading.baselineMetric {
  width: 5em;
}

/* Hover state */
.titleHoverCardIcon span[aria-controls=""],
.titleTooltipIcon[aria-controls=""] {
  opacity: 0;
  visibility: none;
  transition: var(--ui-transition-out);
}

.root:hover .titleHoverCardIcon span,
.root:hover .titleTooltipIcon {
  opacity: 1;
  visibility: visible;
  transition: var(--ui-transition-in);
}

/* Size variation */
.small .info {
  margin-top: var(--space-xxxsmall);
}

.small .currentMetric {
  font-size: var(--size-xlarge);
}

.large .info {
  margin-top: var(--space-xxsmall);
}

.large .currentMetric {
  font-size: var(--size-xxxlarge);
}

.large .baselineMetric {
  font-size: var(--size-medium);
}
