:root {
  --space-xsmall: 0.928rem;
  --space-small: 1.16rem;
  --space: 1.45rem;
  --space-large: 1.8125rem;
  --space-xlarge: 2.265625rem;
  --size-xsmall: 0.64rem;
  --size-small: 0.8rem;
  --size: 1rem;
  --size-large: 1.25rem;
  --size-xlarge: 1.5625rem;
  --color-black: #171717;
  --color-gray-light: #ebedee;
  --color-gray: #cacacd;
  --color-gray-dark: #5a5a5b;
  --color-red: #ff8a8e;
  --color-green: #1a936f;
  --color-yellow: #e8e288;
  --color-blue: #177e89;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  color: var(--color-black);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 75%;
  line-height: 1.45;
}

h1,
h2,
h3 {
  color: var(--color-black);
}

h1 {
  margin: 0 0 var(--space-large);
  font-size: var(--size-xlarge);
}

h2 {
  font-size: var(--size-large);
  margin: 0 0 var(--space);
}

h3 {
  font-size: var(--size);
  margin: 0 0 var(--space);
  text-transform: uppercase;
}

a {
  color: var(--color-blue);
}
