<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="<%= htmlWebpackPlugin.options.url %>">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="twitter:site" content="<%= htmlWebpackPlugin.options.twitter.account %>">
    <meta name="twitter:creator" content="<%= htmlWebpackPlugin.options.twitter.account %>">
    <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.twitter.image %>">

    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.facebook.image %>">

    <!-- https://realfavicongenerator.net ;) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#1a477f">
    <meta name="theme-color" content="#1a477f">
  </head>
  <body>
    <div></div>
  </body>
</html>
