.toolbar {
  border-bottom: 1px solid var(--color-outline);
}

.toolbarSearch {
  width: 100%;
  max-width: 240px;
  margin-right: -1px; /** collapse border */
}

.notPredictive {
  margin-right: var(--space-xxsmall);
  display: inline-block;
  width: var(--space-small);
  height: var(--space-small);
  vertical-align: middle;
}

.notPredictiveIcon {
  color: var(--color-warning-dark);
  vertical-align: top;
}

.assetInfoFlags {
  margin-right: var(--space-xxxsmall);
}

.flag {
  display: inline-block;
  width: var(--space-xsmall);
  height: var(--space-xsmall);
  font-family: var(--font-family);
  font-size: 8px;
  font-weight: bold;
  background: var(--color-highlight);
  color: var(--color-text-light);
  line-height: var(--space-xsmall);
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.flagEntry {
  composes: flag;
  background: var(--color-info-light);
  color: var(--color-background);
}

.flagInitial {
  composes: flag;
  background: var(--color-info-light);
  color: var(--color-background);
}

.flagChunk {
  composes: flag;
  background: var(--color-info);
  color: var(--color-background);
}

/* Tooltip not predictive */
.tooltipNotPredictive {
  text-align: left;
}

.tooltipNotPredictiveText {
  margin-bottom: var(--space-xxxsmall);
}

.tooltipNotPredictiveName {
  display: block;
  line-height: 1.3;
}

.search {
  margin: 0;
  width: 100%;
}

.assetInfo {
  min-width: 280px;
}
