.toolbarSearch {
  width: 100%;
  max-width: 240px;
}

.root .assetName:hover,
.root .assetName:active,
.root .assetName:focus {
  text-decoration: none;
}

.root .assetName:hover .assetNameText,
.root .assetName:active .assetNameText,
.root .assetName:focus .assetNameText {
  text-decoration: underline;
}

.search {
  margin: 0;
  width: 100%;
}
