.header {
  padding: var(--space-small);
  border-bottom: 1px solid var(--color-outline);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 0;
  margin-right: var(--space-xsmall);
  flex: 0 0 auto;
  font-size: var(--size-xlarge);
  line-height: var(--space-medium);
}

.dropdown {
  flex: 0 0 auto;
  margin-top: calc(0px - var(--space-xxsmall));
  margin-right: calc(0px - var(--space-xxsmall));
  margin-bottom: calc(0px - var(--space-xxsmall));
  margin-left: var(--space-small);
}

.tableRowHeader {
  display: flex;
  align-items: center;
}

.notPredictive {
  margin-right: var(--space-xxsmall);
  display: inline-block;
  width: var(--space-small);
  height: var(--space-small);
  vertical-align: middle;
}

.notPredictiveIcon {
  vertical-align: top;
}

.flag {
  margin-right: var(--space-xxxsmall);
  display: inline-block;
  width: var(--space-small);
  height: var(--space-small);
  font-size: 10px;
  font-weight: bold;
  background: var(--color-highlight);
  color: var(--color-text-light);
  line-height: var(--space-small);
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.flagEntry {
  composes: flag;
  background: var(--color-info);
  color: var(--color-background);
}

.flagInitial {
  composes: flag;
  background: var(--color-success);
  color: var(--color-background);
}

.flagChunk {
  composes: flag;
}

/* Tooltip not predictive */
.tooltipNotPredictive {
  text-align: left;
}

.tooltipNotPredictiveText {
  margin-bottom: var(--space-xxxsmall);
}

.tooltipNotPredictiveName {
  display: block;
  line-height: 1.3;
}

/* Tooltip filename */
.tooltipFilename {
  text-align: left;
  min-width: 320px;
}

.tooltipFilenameItem + .tooltipFilenameItem {
  margin-top: var(--space-xsmall);
}

.tooltipFilenameTitle {
  margin: 0;
}

.search {
  margin: 0;
  width: 100%;
}
