.toolbar {
  border-bottom: 1px solid var(--color-outline);
}

.toolbarSearch {
  width: 100%;
  max-width: 240px;
  margin-right: -1px; /** collapse border */
}

.assetNameWrapper {
}

.assetName {}

.notPredictive {
  margin-right: var(--space-xxsmall);
  display: inline-block;
  width: var(--space-small);
  height: var(--space-small);
}

.notPredictiveAnchor {}

.notPredictiveIcon {
  color: var(--color-warning-dark);
}

.assetNameTags {
  display: inline;
  margin-right: var(--space-xxxsmall);
}

.assetNameTags:empty {
  display: none;
}

.assetNameTag {
  vertical-align: middle;
}

.assetNameTag + .assetNameTag {
  margin-left: 2px;
}

.assetNameTagEntry {
  background: var(--color-info-dark);
}

.assetNameTagEntry::before {
  content: 'e';
}

.assetNameTagInitial {
  background: var(--color-info);
}

.assetNameTagInitial::before {
  content: 'i';
}

.assetNameTagChunk {
  background: var(--color-info-light);
}

.assetNameTagChunk::before {
  content: 'c';
}

.assetNameText {
  display: inline-block;
  vertical-align: middle;
}

.root .assetName:hover,
.root .assetName:active,
.root .assetName:focus {
  text-decoration: none;
}

.root .assetName:hover .assetNameText,
.root .assetName:active .assetNameText,
.root .assetName:focus .assetNameText {
  text-decoration: underline;
}

.search {
  margin: 0;
  width: 100%;
}
