.toolbarSearch {
  width: 100%;
  max-width: 240px;
}

.assetNameWrapper {
}

.assetName {}

.notPredictive {
  margin-right: var(--space-xxsmall);
  display: inline-block;
  width: var(--space-small);
  height: var(--space-small);
}

.notPredictiveAnchor {}

.notPredictiveIcon {
  color: var(--color-warning-dark);
}

.assetNameTags {
  display: inline;
  margin-right: var(--space-xxxsmall);
}

.assetNameTags:empty {
  display: none;
}

.assetNameTag {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.assetNameTag::before {
  display:  block;
  padding: 2px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 8px;
  line-height: 1;
  vertical-align: middle;
}

.assetNameTagAdded::before {
  background: linear-gradient(-45deg, var(--color-danger) 50%, transparent 50%);
}

.assetNameTagRemoved::before {
  background: linear-gradient(135deg, var(--color-danger) 50%, transparent 50%);
}

.assetNameTag + .assetNameTag {
  margin-left: 2px;
}

.assetNameTagEntry {
  background: var(--color-info-dark);
}

.assetNameTagEntry::before {
  content: 'e';
}

.assetNameTagInitial {
  background: var(--color-info);
}

.assetNameTagInitial::before {
  content: 'i';
}

.assetNameTagChunk {
  background: var(--color-info-light);
}

.assetNameTagChunk::before {
  content: 'c';
}

.assetNameText {
  display: inline-block;
  vertical-align: middle;
}

.root .assetName:hover,
.root .assetName:active,
.root .assetName:focus {
  text-decoration: none;
}

.root .assetName:hover .assetNameText,
.root .assetName:active .assetNameText,
.root .assetName:focus .assetNameText {
  text-decoration: underline;
}

.search {
  margin: 0;
  width: 100%;
}
