.toolbar {
  border-bottom: 1px solid var(--color-outline);
}

.toolbarSearch {
  width: 100%;
  max-width: 240px;
  margin-right: -1px; /** collapse border */
}

.assetName {}

.notPredictive {
  margin-right: var(--space-xxsmall);
  display: inline-block;
  width: var(--space-small);
  height: var(--space-small);
  vertical-align: middle;
}

.notPredictiveIcon {
  color: var(--color-warning-dark);
  vertical-align: top;
}

.assetNameTags {
  display: inline;
  margin-right: var(--space-xxxsmall);
}

.assetNameTags:empty {
  display: none;
}

.assetNameTag {
  vertical-align: middle;
}

.assetNameTag + .assetNameTag {
  margin-left: 2px;
}

.assetNameTagEntry {
  background: var(--color-info-dark);
}

.assetNameTagEntry::before {
  content: 'e';
}

.assetNameTagInitial {
  background: var(--color-info);
}

.assetNameTagInitial::before {
  content: 'i';
}

.assetNameTagChunk {
  background: var(--color-info-light);
}

.assetNameTagChunk::before {
  content: 'c';
}

.assetNameText {
  display: inline;
  vertical-align: middle;
}

/* Tooltip not predictive */
.tooltipNotPredictive {
  text-align: left;
}

.tooltipNotPredictiveText {
  margin-bottom: var(--space-xxxsmall);
}

.tooltipNotPredictiveName {
  display: block;
  line-height: var(--line-height-heading);
}

.search {
  margin: 0;
  width: 100%;
}

.assetInfo {
  min-width: 280px;
}
