.header {
  margin-bottom: var(--space-small);
  border-bottom: 1px solid var(--color-gray-ultra-light);
  padding-bottom: var(--space-small);
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  margin: 0;
}

.nameTooltipText {
  display: block;
  width: 100%;
  max-width: 320px;
  min-width: 280px;
  text-align: left;
}

.nameTooltipText + .nameTooltipText {
  margin-top: var(--space-small);
}
