.header {
  margin-bottom: var(--space-small);
  border-bottom: 1px solid var(--color-gray-ultra-light);
  padding-bottom: var(--space-small);
  display: flex;
  justify-content: space-between;
}

.headerTitle {
  margin: 0;
}

.name {
  border-bottom: 1px dotted transparent;
}

.nameTooltipText {
  display: block;
  width: 100%;
  max-width: 320px;
  min-width: 280px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  white-space: normal;
  text-align: left;
}

.nameTooltipText + .nameTooltipText {
  margin-top: var(--space-small);
}

.table tbody tr:hover .name {
  border-color: var(--color-gray-light);
}
