.root {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
  padding: calc(var(--space-xsmall) / 2);
  display: flex;
  align-items: stretch;
}

.input {
  border: 1px solid var(--color-gray-light);
  padding: var(--space-xsmall);
  flex: 1 1 auto;
}

.actions {
  text-align: center;
}

.button {
  padding: var(--space-xsmall) var(--space);
  border: 0;
  background: var(--color-green);
  color: #fff;
}
