.root {
  margin: 0 auto;
  width: 100%;
  max-width: 30rem;
  padding: var(--space-small) 0 0;
  display: flex;
  align-items: stretch;
}

.input {
  border: 1px solid var(--color-gray-light);
  padding: var(--space-xsmall);
  background: #fff;
  color: var(-color-gray);
  flex: 1 1 auto;
  outline: 0;
}

.actions {
  text-align: center;
}

.button {
  padding: var(--space-xsmall) var(--space);
  border: 0;
  background: var(--color-gray-light);
  color: var(--color-gray-dark);
  cursor: pointer;
  outline: none;
}

/* focus state */
.input:focus {
  border: 1px solid var(--color-gray);
  color: var(--color-gray-dark);
}

.input:focus ~ .button {
  background: var(--color-blue);
  color: #fff;
}
