.root {
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
}

.cell {
  padding: 1rem;
  border: 1px solid #eee;
  border-width: 1px 0;
}

thead .cell {
  border-top: none;
}

.name {
  composes: cell; /* stylelint-disable-line */
  text-align: left;
}

.value {
  composes: cell; /* stylelint-disable-line */
  text-align: right;
}
