.root {
  border: 1px solid var(--color-gray-xxlight);
  border-width: 1px 1px 0 0;
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
}

.cell {
  border: 1px solid var(--color-gray-xxlight);
  border-width: 0 0 1px 1px;
  padding: var(--space-small) var(--space-medium);
  text-align: left;
}

thead .cell {
  padding: var(--space-xxsmall) var(--space-medium);
  text-transform: uppercase;
}

thead .cell:empty {
  display: none;
}

tbody tr:first-child .cell {
  border-top-width: 2px;
}

tbody th.cell {
  font-weight: normal;
}

tbody tr:nth-child(even) .cell {
  background-color: var(--color-gray-xxxlight);
}

tbody tr:hover .cell {
  background-color: var(--color-yellow-50);
}

.emptyCell {
  padding: var(--space-xlarge) var(--space-medium);
  color: var(--color-gray-light);
  text-align: center;
}

tbody tr:hover .emptyCell {
  background-color: inherit;
}
