.fileName {
  max-width: 100%;
  padding: 0 2px;
  background: var(--color-highlight-warning);
}

.label {
  font-size: var(--size-medium);
}

.runs {
  font-size: var(--size-small);
}

.runs .runsCell {
  padding: var(--space-xxxsmall) var(--space-xxsmall);
}
