.root > .item {
  margin-top: 0;
  margin-bottom: 0;
}

.root > .item:last-child {
  margin-bottom: 0;
}

.space--xxxsmall > .item {
  margin-bottom: var(--space-xxxsmall);
}

.space--xxsmall > .item {
  margin-bottom: var(--space-xxsmall);
}

.space--xsmall > .item {
  margin-bottom: var(--space-xsmall);
}

.space--small > .item {
  margin-bottom: var(--space-small);
}

.space--medium > .item {
  margin-bottom: var(--space-medium);
}

.space--large > .item {
  margin-bottom: var(--space-large);
}

.space--xlarge > .item {
  margin-bottom: var(--space-xlarge);
}

.space--xxlarge > .item {
  margin-bottom: var(--space-xxlarge);
}

.space--xxxlarge > .item {
  margin-bottom: var(--space-xxxlarge);
}
