.root > .item {
  margin-top: 0;
  margin-bottom: 0;
}

.root > .item:last-child {
  margin-bottom: 0;
}

.space--xxxsmall > .item {
  margin-bottom: var(--space);
}

.space--xxsmall > .item {
  margin-bottom: var(--space-2x);
}

.space--xsmall > .item {
  margin-bottom: var(--space-3x);
}

.space--small > .item {
  margin-bottom: var(--space-4x);
}

.space--medium > .item {
  margin-bottom: var(--space-6x);
}

.space--large > .item {
  margin-bottom: var(--space-8x);
}

.space--xlarge > .item {
  margin-bottom: var(--space-10x);
}

.space--xxlarge > .item {
  margin-bottom: var(--space-12x);
}

.space--xxxlarge > .item {
  margin-bottom: var(--space-16x);
}
