.item {
  margin: 0;
}

.space--xxxsmall > .item + .item {
  margin-top: var(--space-xxxsmall);
}

.space--xxsmall > .item + .item {
  margin-top: var(--space-xxsmall);
}

.space--xsmall > .item + .item {
  margin-top: var(--space-xsmall);
}

.space--small > .item + .item {
  margin-top: var(--space-small);
}

.space--medium > .item + .item {
  margin-top: var(--space-medium);
}

.space--large > .item + .item {
  margin-top: var(--space-large);
}

.space--xlarge > .item + .item {
  margin-top: var(--space-xlarge);
}

.space--xxlarge > .item + .item {
  margin-top: var(--space-xxlarge);
}

.space--xxxlarge > .item + .item {
  margin-top: var(--space-xxxlarge);
}
