name: build
on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3.0.0
      with:
        node-version-file: ".nvmrc"
        cache: "npm"
        cache-dependency-path: "**/package-lock.json"

    - name: Install dependencies
      run: npm run install-dependencies

    - name: Build
      run: npm run build

    - name: Upload build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: build-artifacts
        retention-days: 1
        # add glob on the first directory to force paths relative to current directory
        path: |
          packages*/*/lib/**
          packages*/*/lib-esm/**
          packages*/*/dist/**
          packages*/*/types/**

    - name: Upload webpack stats artifact
      uses: relative-ci/agent-upload-artifact-action@v1
      with:
        webpackStatsFile: ./packages/html-templates/artifacts/webpack-stats.json

  lint:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3.0.0
      with:
        node-version-file: ".nvmrc"
        cache: "npm"
        cache-dependency-path: "**/package-lock.json"

    - name: Install dependencies
      run: npm run install-dependencies

    - name: Download build
      uses: actions/download-artifact@v2
      with:
        name: build-artifacts

    - name: Lint
      run: npm run lint

  test:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3.0.0
      with:
        node-version-file: ".nvmrc"
        cache: "npm"
        cache-dependency-path: "**/package-lock.json"

    - name: Install dependencies
      run: npx lerna bootstrap --hoist

    - name: Download build
      uses: actions/download-artifact@v2
      with:
        name: build-artifacts

    - name: Test
      run: npm test

    - name: Test webpack-plugin package
      run: npm run test-package

  publish:
    needs:
      - build
      - lint
      - test

    if: contains(github.ref, 'refs/tags/v')

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3.0.0
      with:
        node-version-file: ".nvmrc"
        cache: "npm"
        cache-dependency-path: "**/package-lock.json"
    - run: echo '//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}' > ~/.npmrc
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

    - name: Install dependencies
      run: npm run install-dependencies

    - name: Download build
      uses: actions/download-artifact@v2
      with:
        name: build-artifacts

    - run: npm run release
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
