name: RelativeCI

on:
  workflow_run:
    workflows: ["build"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3.2.0
        with:
          node-version: '16.x'

      - name: Send webpack stats to RelativeCI
        uses: relative-ci/agent-action@v2
        with:
          # RelativeCI project key
          key: ${{ secrets.RELATIVE_CI_KEY }}
          # GitHub token
          token: ${{ secrets.GITHUB_TOKEN }}
