name: RelativeCI

on:
  workflow_run:
    workflows: ["ci"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Send webpack stats to RelativeCI
        uses: relative-ci/agent-action@v2.1.11
        with:
          # RelativeCI project key
          key: ${{ secrets.RELATIVE_CI_KEY }}
          # GitHub token
          token: ${{ secrets.GITHUB_TOKEN }}
