.root {
  margin: 0 0 1rem;
  padding: 0 1rem;
  text-align: right;
}

.list {
  list-style: none;
}

.item {
  margin: 0 0 0 0.6rem;
  display: inline-block;
}

.button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  color: gray;
  outline: none;
  cursor: pointer;
}

.button:active,
.button:hover {
  color: black;
  outline: none;
}

.active {
  color: black;
  text-decoration: underline;
}
